[2016-07-14 09:23] Jorrex opened #1 "Unexpected character in input."
I setup everything as you said, but when I went to my site to check if all was working I got an error.
Since I'm not familiar with PHP (only interested in the PSN API) I don't really know what is happening here.

The only thing I changed was my emailadress and the password. Unless some characters cannot be included in the emailadress, I don't really know what could be causing this issue.

I attach

[2016-07-15 09:21] Jorrex commented on #1
The issue was with my own webhost, where as I was using PHP 5.2 and the backslashes are not supported  with versions 5.2 or lower. I do wonder how I view my trophies? I can get the amount of trophies, but not a full trophy list?

[2016-07-15 23:00] Tustin commented on #1
Glad you found the solution. This still needs a bit of work and there are a few things I wanted to add, alongside with cleaning up the code a bit. I'll make a new commit soon with more trophy stuff like you mentioned.

[2016-07-21 08:31] xijbx commented on #1
Might also be an idea to add in a list of minimum requirements.

[2016-07-21 08:31] #1 closed

[2016-08-02 12:54] robsonrobi opened #2 "Read single Message"
Is there a possibility to read a single message and fetch f.e. the attachment like an image ?

[2016-08-02 20:11] xijbx commented on #2
At the moment there is no method to read messages, however this is in the pipeline.

[2016-08-02 20:30] xijbx commented on #2
I've just updated the Messaging class to retrieve message bodies in the json response. Example of usage (loop around all message threads, adapt to your usage):

[code]

[2016-08-03 07:11] robsonrobi commented on #2
Thank you, have you tried to display  an attachment? Images have the contentKey "image-data-0". As i saw, you can obtain the content calling

`$response = \Utilities::SendRequest(MESSAGE_URL . '/' . $MessageGroupID . '/messages/' . $MessageID . '/', $headers, FALSE, null, "GET", 'contentKey=image-data-0');`

The result is no json, but an image in binary structure. I see cryptical signs and do not

[2016-08-03 17:53] xijbx commented on #2
Images can now be displayed using Messaging::GetAttachment() in the latest build. Currently only tested with jpeg images, and not png, however it should work for either. Example:

[code]

Due to the limitations on actually displaying images by their raw data, the Messaging::GetAttachment() function returns the base64 contents of the raw image data, which can then be implemented into an `<img>` tag

[2016-08-03 18:30] robsonrobi commented on #2
Perfect! Thank you!

[2016-08-03 18:30] #2 closed

[2016-08-05 09:21] Octolus opened #3 "Suggestion"
When viewing / getting messages, add ability to obtain PSN Avatar with the messages. I am sure there is some request parameter we could add to the "fields" in here : http://i.imgur.com/qjY16Ba.png

Currently what I got: http://i.imgur.com/eccxQkX.png

Would be nice to also obtain avatar, without a extra request per message.

[2016-08-14 15:56] xijbx commented on #3
I'll look into this tonight.

[2016-08-19 14:07] CODYQX4 opened #4 "\\PSN\Messaging->GetAttachment assumes JPEG"
It is possible for the image to be a PNG instead of a JPG, and will fail if these images are mismatched.

[2016-08-19 18:01] Tustin commented on #4
Honestly, most likely not. However, JB was the one who implemented this so he might be able to give a better response. I assume there's a check in the actual API that only allows the PNG format.

[2016-08-21 02:44] tyman1294 commented on #3
I don't mean to re-open this but I wanted to know @techpulse if you could share the code used? Thank you!

[2016-08-21 20:27] dandelaney8 opened #5 "Sending messages stopped working"
Hello there,

My company hired a developer to build out an application that uses your repo to send PSN messages. It was working nicely, and then out of nowhere about 2 weeks ago it stopped functioning properly, and messages are not going out anymore. Would you have any insight into why this might have happened?

We heard that Sony may have started using a Captcha when users are logging in, and tha

[2016-08-21 20:51] tyman1294 commented on #5
Hello,
I've recently made something similar. To send messages to users. It is still working as of 4:50 PM 8/21/2016.
Known issues to cause this is a possible ban on the server, and or account. Have you tried using a different account? And or have you gotten any errors recently?

Sincerely,
Tyman1294

[2016-08-21 23:20] Tustin commented on #5
Sony will rate limit you if you try sending too many messages within a certain period of time. Although it does seem strange that it hasn't worked for 2 weeks, as the rate limiting should only last a few hours at the most. I haven't seen an update for the PS Messaging iOS app which makes it unlikely that they've changed anything with their requests. Might be worth asking the developer who made it

[2016-08-22 19:28] djekl commented on #5
What @ hasn't mentioned is that this is only a local issue. I was the dev who wrote the code, and if I load the code on my server, or vagrant box it works fine, no issues. And yes this is with the same account. However on the production server (that was working) is no longer. A new ToS was issued just before the problem arrised, I resolved my testing account by accepting it, however I couldn't see

[2016-08-22 19:29] djekl commented on #5
This is the line I was trying to refer to with regards to the cookie being set - https://github.com/Tustin/psn-php/blob/master/include/auth.php#L130

[2016-08-22 20:00] dandelaney8 commented on #5
An update:

We have tried using a new account, and made sure that we logged in with it on the PS4 console. Successfully sent messages through the console and using the iOS App, but it still doesn't work with the code.

However, I found the following errors in our logs that might be able to help figure out the issue:

[2016-08-21 22:10:01] local.ERROR: exception 'ErrorException' with message 'Undef

[2016-08-24 23:43] MrxD77 opened #6 "i have Issues in my spamer"
i add 20 account in my site
and i active the account in my ps3 and its send good but if i send more than 4 or 5 times with 100 messge i get error
Warning: First parameter must either be an object or the name of an existing class in /usr/www/mrxd/public/include/auth.php on line 145

Warning: First parameter must either be an object or the name of an existing class in /usr/www/mrxd/public/include/au

[2016-08-24 23:58] PassionDev commented on #6
try sucking cock

[2016-08-26 08:27] xijbx commented on #5
I'll look into the issue today and see if I can find a fix. Perhaps Sony has updated something on their API that we've missed.

[2016-08-26 08:30] xijbx commented on #4
The default option is JPG - however I'll tweak the code today to look for the correct file extension (and set the file type/mime type accordingly).

[2016-08-27 04:51] CODYQX4 commented on #3
Are there any fields for getting the last group message without an extra request?

[2016-08-28 01:59] CODYQX4 opened #7 "Suggestion: Getting Voice Recording How-To"
I've edited this far too much to throw up a Git Repo and do a pull request at this point (my code is majorly in flux anyway).

But I did figure out how to get the voice messages.

A friend did one and it's just an MP3 file.

Instead of image-data-0, use voice-data-0 for the Content Key.

Then use audio/mpeg as the Content-Type header.

I modified it like this: http://pastebin.com/nv2PVC94

[2016-08-28 21:59] xijbx commented on #7
I've already written the code for voice messages however it isn't exactly fully functional.

Anyway setting up a repo is never a bad idea - we'll look into adding this soon.

[2016-08-28 21:59] #7 closed

[2016-08-30 23:31] fbiraidtruck opened #8 "Create Group and invite"
How would i go about creating a group and inviting a psn name to such group. By the way awesome project and thanks in advance!

[2016-08-30 23:44] Tustin commented on #8
Thanks! And by groups do you mean communities? If so, we haven't been able to find out how the communities work because I can't see the HTTPS requests the PS4 makes and that's the only way to manage communities at the moment. If they add that functionality to the official app then I can most certainly add it.

[2016-08-30 23:48] fbiraidtruck commented on #8
I don't mean send message to more then one user that's easy. Just loop through a list of users and send. How would I go about creating a group and adding a ueser to a group chat. If you can't create a group is it possible to invite someone to a group chat?

[2016-08-30 23:53] fbiraidtruck commented on #8
Maybe I'm saying it wrong. I am a little new to PlayStation

[2016-08-31 06:14] tyman1294 commented on #8
@fbiraidtruck are you saying as messaging people for example, you would get a message from 2 people within a chat? xbxhsds, xchhsda -> Hi ?

- I don't know how to really exsplain it..

[https://i.ytimg.com/vi/eC1ceYC1w1s/maxresdefault.jpg](https://i.ytimg.com/vi/eC1ceYC1w1s/maxresdefault.jpg)

[2016-08-31 06:17] fbiraidtruck commented on #8
Yes that is corrent

[2016-08-31 06:19] fbiraidtruck commented on #8
How could I go about doing this. Could you mAybe add me on Skype killer360hacks

[2016-08-31 13:25] CODYQX4 commented on #8
Tustin, do they show up in Charles Proxy? That's how I've been looking into it, except I've never tried the console, just the app.

[2016-08-31 13:35] CODYQX4 commented on #7
I setup a repo and sent a pull request. My test script was able to send text, images, and audio to both existing group IDs and individual PSN names, just by using the pushed code.

I don't have any file type detection. I'm cheesing the audio length detection on my app (a web app), by loading the attached mp3 (I don't have a recording feature) into a hidden audio tag and getting the duration via Ja

[2016-08-31 13:40] CODYQX4 commented on #8
I sent a pull request, and I modified the message functions. You can pass an array of PSN names now, and that puts them all in one group.

If you looped names, each name would get it's own group.

This doesn't add people to an existing group, but from my experience, doing that on PS4 just creates a new group with the new people+the old people anyway.

[2016-09-01 08:06] MrxD77 commented on #8
@Tustin
Can u say how message group work like this pic
https://i.ytimg.com/vi/eC1ceYC1w1s/maxresdefault.jpg

[2016-09-01 22:11] dandelaney8 opened #10 "Response headers output"
Hey there,

I'm now running this code on a separate project from the one I mentioned in Issue #5 , and I'm seeing this output when I try to use it via command line:

< HTTP/1.1 302 Moved Temporarily
< Location: https://auth.api.sonyentertainmentnetwork.com/mobile-success.jsp?targetUrl=com.playstation.mobilemessenger%3A%2F%2Fredirect%3Fcode%3DGw71y6%26state%3D06d7AuZpOmJAwYYOWmVU63OMY&close=false&t

[2016-09-03 09:23] djekl commented on #10
The reason it outputs the information to the CLI while making requests is because of `CURLOPT_VERBOSE` being set to `true`. Look here - https://github.com/Tustin/psn-php/blob/master/include/utilities.php#L61

| Option | Set value to |
|---|---|
|  `CURLOPT_VERBOSE`  | **TRUE** to output verbose information. Writes output to `STDERR`, or the file specified using `CURLOPT_STDERR`. |

[2016-09-03 15:32] Tustin commented on #10
Yeah sorry about this. I'm not sure if this is actually required to grab the response headers but when I looked up how to do that with cURL, that's the solution I found. You can try commenting out what djekl posted and see if it still works properly. If it does I can just get rid of it.

[2016-09-03 16:46] djekl commented on #10
Its not required to get the headers. As the code states it puts the verbose information its stderr which you don't read

--
Alan Wynn
Sent with Airmail

On 3 September 2016 at 4:32:52 pm, Josh (notifications@github.com(mailto:notifications@github.com)) wrote:

[2016-09-03 22:33] tyman1294 commented on #8
@CODYQX4 Shoot me a e-mail: admin@tyman1294.net
I got a question for you.

[2016-09-03 22:34] fbiraidtruck commented on #8
Like he would lol

On Sep 3, 2016 6:33 PM, "Tyler" <notifications@github.com> wrote:

[2016-09-03 23:27] tyman1294 commented on #8
@fbiraidtruck whats your problem?

[2016-09-03 23:33] fbiraidtruck commented on #8
Send me a message on Skype I'll gladly tell you(:

On Sep 3, 2016 7:27 PM, "Tyler" <notifications@github.com> wrote:

[2016-09-04 05:04] xijbx commented on #7
The problem with sending MP3s is that on PS4 they won't play (at least in my testing). I've pushed up my audio-messaging branch and can only assume that PS4 will only accept the audio file if it's a 3GPP file.

[2016-09-06 19:41] techpulse commented on #3
Thanks @CODYQX4

[2016-09-06 19:42] techpulse opened #12 "Respond to a conversation?"
How would we do this?

I'm creating a tool to allow you sign into my site, then it will show all messages. Allow you to moderate them, also reply.. However I haven't figured out a way to respond to a existing conversation..

[2016-09-12 13:51] techpulse commented on #5
There are defiantly limitations, per hour. You would need multiply IP's, and accounts to perform this.

[2016-09-12 18:26] CODYQX4 commented on #12
If you look at the functions I added here https://github.com/Tustin/psn-php/commit/229db3b2bf868890b6e4a9bb669be1a1dfe41f84

You are able to reply to conversations by passing the Group ID and message content to the appropriate function.

[2016-09-13 08:24] xijbx commented on #5
Closing this as their API is unchanged. Please raise a new issue if this problem returns.

[2016-09-13 08:24] #5 closed

[2016-09-13 08:25] #12 closed

[2016-09-13 08:27] #8 closed

[2016-09-14 17:44] techpulse commented on #4
Can't get it to work for some reason.

echo $message->GetImageAttachment($_GET['id'], $message->messageUid);

$_GET['id'] equals ~1280FCA18BE92710.7DB2A519183242AD

[2016-09-14 18:09] techpulse commented on #7
3GPP looks like a video format?

[2016-09-15 11:50] gorcheque opened #13 "How to read messages?"
Could you please explain how to read messages with your API?

[2016-09-16 15:02] techpulse commented on #13
`$messages = $messaging->GetAll();`

[2016-09-16 15:26] #13 closed

[2016-09-16 15:28] xijbx commented on #4
@techpulse is it trying to return any data at all? Or is it a flat out error?

[2016-09-16 15:30] xijbx commented on #7
@techpulse 3GP is a mobile video format, 3GPP appears to be either video or audio. Strange that Sony opted to use such an infrequently used extension. I'm not sure of any converters to 3GPP either, the only ones I've come across all convert from 3GPP but not to it.

[2016-09-29 16:44] voidby opened #15 "Hidden achievements"
Is it possible to get via api info (image, title and description)about hidden not received achievements?

[2016-09-30 08:15] xijbx commented on #15
Not as far as I'm aware - only trophies earned are accessible. @Tustin might be more suited to answer this question.

[2016-09-30 08:32] djekl commented on #15
If I remember correctly from my own research a few years back, the PSN app is a basic glorified web browser. The api's provided to run the app are limited and primitive. Because of this they act just like the web browser and will only show information for that user, not the full game and have user information also provided. Much like the old XboxAPI (when I was doing web scraping), your best bet i

[2016-10-02 10:32] #15 closed

[2016-11-04 20:47] socoolmen opened #16 "Auth not work"
Hi, since few days when try to connect an account got this response : First parameter must either be an object or the name of an existing class on line 155

Line 155 :  if (property_exists($data, "error")){
            $this->last_error = $response["body"];
            return false;
        }

[2016-11-07 17:16] xijbx commented on #16
Can you give us the output of var_dump($data); ? Put it on the line prior to the one you have the issue with.

[2016-11-28 18:28] appache7-2 opened #17 "Auth ok ! :)"
Thank you for your work ! Are you still working on it?

[2016-11-29 11:39] appache7-2 commented on #17
How to simply retrieve the URL of the profile image?
i try
var_dump($me->profile->avatarUrl);
but NULL

[2016-12-01 00:55] techpulse commented on #17
Yes he is.

[2016-12-01 00:57] #17 closed

[2016-12-01 00:57] #16 closed

[2016-12-01 23:37] #3 closed

[2016-12-15 20:37] mgp25 opened #18 "Tokens"
Hello there,

im porting this code to python but first i want to understand few things. Yesterday i was able to auth, and everything okay, but then today i get this:

[code]

I did not save the tokens in the very first login, so... Is there a way to get new token and be able to log in again?

Regards

[2016-12-15 21:27] mgp25 commented on #18
Got it! Im doing a function to download the captcha and do verification manually.

`captchatokenmissing` means captcha verification was missing/need it

Regards

[2016-12-15 21:27] #18 closed

[2016-12-16 21:19] Octolus commented on #18
Let us know how that works out @mgp25 - I believe it might be recaptcha 2 which is a little challange.

[2016-12-16 23:16] mgp25 commented on #18
@Octolus yup, im working on it. The main part wich is the auth is already ported: https://github.com/mgp25/psn-api

When finished the recaptcha func ill post it here

Regards

[2016-12-21 15:29] gorcheque commented on #4
I figured out how to get text of last text message. I do it like this:

$obj_vars = get_object_vars($messages->GetAll());
print $obj_vars["threads"][0]->latestMessageEventDetail->messageDetail->body;

Could you please explain how to get attachement of the last image message?
I did not find any how to about it.

[2016-12-24 07:49] barantr90 opened #19 "Laravel support"
If you can support to Laravel it is going to be good.

[2016-12-24 17:18] Tustin commented on #19
I've never used Laravel but I believr @xijbx has. If he's up to it, maybe he can do whatever needs to be done to support it.

[2016-12-26 14:18] xijbx commented on #19
I'll write support for Laravel in. Although to be fair, for the most part this should "just work" with Laravel.

[2016-12-26 14:20] barantr90 commented on #19
It is going to be really good move. Laravel is the most powerfull fw! 💪😎

[2016-12-26 14:24] xijbx commented on #19
As I use Laravel quite frequently I should be able to port it pretty quickly, although at the moment I am away from my development PC. I'll take a look at it tomorrow.

[2016-12-26 14:27] barantr90 commented on #19
Ok 😊 I can wait it! Thank you so much.

[2016-12-26 14:40] xijbx commented on #19
Aye no problem. I was going to write a Laravel app using this anyway so this gives me good motivation to get it done sooner! I'll make sure it supports Laravel 5.2 and above, but I won't be looking into Laravel 4 support. I see no real reason why it wouldn't also work on 5.0 and 5.1, but I won't rush support for those and will focus on 5.2+ instead.

[2016-12-26 16:38] djekl commented on #19
Used this a few times in Laravel, it really just works. No need for the facades as you need to import them anyway.⁣

Sent from BlueMail ​

On Dec 26, 2016, 2:41 PM, at 2:41 PM, Jay <notifications@github.com> wrote:

[2016-12-26 16:40] barantr90 commented on #19
Could you explain how can I import a package and use? @djekl

[2016-12-26 19:28] djekl commented on #19
OK so this isn't setup correctly with composer so that makes it a little more different. If this project was composerised instead of a homebrew `autoload.php` file then it would be as simple as follows;

- Install via composer (can be done currently, but janky as fuck)
- Add a `use` statement at the top of the file
- Do any setup in the `__construct` or call a protected method to do this
- Then us

[2016-12-26 19:40] barantr90 commented on #19
Thank you so much @djekl. I am going to try it and I belive it will do my work but on the other hand I really want to use this package for Laravel version.

[2016-12-26 20:55] xSlOom opened #20 "Invalid token"
I don't know why, but i'm getting the error "Invalid token" after being logged in.

Someone knows why?

[2016-12-26 21:23] Tustin commented on #20
If this happens sporadically, it means that the auth token you're using has expired and needs to be refreshed by either logging in again or using Auth::GrabNewTokens with your refresh token to get a set of new tokens. If it's happening every time you login, it could be due to invalid login credentials or maybe some other unknown bug. If you have an error log, that might help solve the issue.

[2016-12-26 21:26] xSlOom commented on #20
Thanks for your answer. I tried again to logged in again but I get this message:

{"error":"invalid_token","error_description":"Invalid token","error_code":4097,"docs":"http://docs.auth.api.ac.playstation.net/2.0/ssocookie","parameters":["captchatokenmissing"]}

[2016-12-26 21:38] Tustin commented on #20
@Octolus says that is due to making too many invalid login attempts within a small period of time. You'll have to wait a bit and try again.

[2016-12-26 21:40] xSlOom commented on #20
I tried 3 times (only) to logged in so I don't know. :(

[2016-12-26 22:57] Octolus commented on #20
Yeah, they block you quite fast (give you captcha) @xSlOom to prevent bruteforcing.

[2016-12-26 22:58] xSlOom commented on #20
Oh .. right. They are smart lol.

How can I fix it ? @Octolus

[2016-12-27 00:49] xijbx commented on #20
Waiting the necessary timeout period should fix it (I'd have thought less than an hour).

[2016-12-27 00:50] xSlOom commented on #20
Okay, i'll wait then but it sucks to wait just to do a small request. -.-

Thanks for your answers.

[2016-12-27 00:51] xijbx commented on #19
Thanks for the input @djekl - I thought it would "just work". I'll get this refactored into using Composer tomorrow.

[2016-12-27 02:55] xijbx commented on #20
Unfortunately it's a limit on Sony's side we can't bypass (without switching the requesting IP, anyway..). Sorry we couldn't help any further!

[2016-12-27 02:55] #20 closed

[2017-01-01 16:01] barantr90 opened #21 "Psn URLs"
Is there a way to learn all psn urls like showing mutual friends?

I already checked on my mobile app and I can see me and my friend mutual friends also GetInfo function show me mutual friends count.

[2017-01-01 18:09] Octolus commented on #21
Not entirely sure if I understand what you mean by "learn all psn urls"? Reading the URL's from your phone app?

[2017-01-01 18:13] barantr90 commented on #21
I mean can we learn all psn api URLs from somewhere? If am I right all these psn API's based on PS android app. @octolus

[2017-01-01 18:15] Octolus commented on #21
Yes. Both iOS and Android app. There is no official documentation on how to use them.

What we did was decrypting the SSL Requests by using an app like Fiddler, or Charles Proxy. It would allow us to read all the URL's based on what action we did in the phone app.

[2017-01-01 18:15] barantr90 commented on #19
Thank you so much @djekl ☺ Now I am using this package with Laravel 5.3

[2017-01-01 21:35] Tustin commented on #21
If I'm understand you right, you just want to understand how the mutual friends API endpoint works? Best way to do that is do what @Octolus said and set up SSL sniffing on your device and then just choose the option in the app that you want to figure out (e.g. mutual friends) and look at what request was made. You'll be able to see the URL and any data send to that URL.

[2017-01-03 20:24] #21 closed

[2017-01-03 20:24] #19 closed

[2017-01-17 20:48] ChaCha32 opened #23 "Tokens"
I don't  understand exactly how to use:
$new_tokens = Auth::GrabNewTokens($tokens['refresh']);

I would love to save my accounts, as i'm making a api to get users data. But accounts keep dropping like flies! I'm assuming the GrabNewTokens method would save the accounts life span.

Thanks!

[2017-01-18 22:36] ChaCha32 commented on #23
I keep getting this in error_log
PHP Fatal error:  Class 'Auth' not found in /home/chacha/master/index.php on line 16

[2017-01-19 04:15] Tustin commented on #23
Looks like you're not including the PSN namespace before Auth. Try something like this:
$new_tokens = \PSN\Auth::GrabNewTokens($tokens['refresh']);

Should fix the error. I see the example you used in the Wiki and that is indeed an error on my part. Sorry about that! I'll fix that and hopefully try to make the documentation better one of these days.

[2017-01-19 19:54] ChaCha32 commented on #23
Thanks Tustin,
I added it into my code no error now, but one thing.
So lets say I get the refresh token and save it and create a array with oauth, refresh, and npsso
Do I need to save the new token? Or can I use the old one?

I'm just trying to save accounts from getting banned.
And I was reading more into it and seen you made the function above, just don't really understand how to use it haha!

T

[2017-01-19 20:17] Tustin commented on #23
Yes, when you generate new tokens using an old refresh token, the API gives you a new refresh token that you;ll use the next time you need new tokens. With the code you have above, the GrabNewTokens function is failing because you're passing an array, instead of just the refresh token itself. So instead of passing $tokens into it, try $tokens['refresh']. That should give you the new tokens. The on

[2017-01-19 20:40] ChaCha32 commented on #23
Ok, but if i just pass $tokens['refresh'] wouldn't it still be using $tokens = $account->GetTokens(); ?
I'm just trying to minimize accounts getting banned when logging in and out constantly!

I really appreciate the help Tustin!

[2017-01-19 20:51] ChaCha32 commented on #23
So I got something working here. This works great.. But you said:

Would I need to save the data outputed, and use that data the next time i want a new token?
Or could I use the token I got from $tokens['refresh'] for every new token call for that account?
[code]

[2017-01-19 21:24] Tustin commented on #23
When you call GrabNewTokens, that function itself returns an array with 2 tokens: the oauth and the refresh. For any future API calls (like accessing messages, friends list, etc), you'll pass the array of tokens to the class when you create the object. However, those classes only really use the oauth token from that array. I just wanted to make it a bit easier by letting you pass the entire tokens

[2017-01-19 21:57] ChaCha32 commented on #23
Yes, Thank you so much!
I'll work on the idea of catching for a certain hour! I really appreciate it Tustin!

Thanks again,
ChaCha

[2017-01-19 23:03] Tustin commented on #23
Not a problem. Feel free to open this again if you have any other problems! 👍

[2017-01-19 23:03] #23 closed

[2017-01-26 17:15] martinbean opened #24 "Add support for Composer"
Repository should have a **composer.json**, and use either the PSR-0 or PSR-4 autoloading standard.

[2017-01-26 17:39] djekl commented on #24
@martinbean you could always submit a PR

[2017-01-26 18:47] Tustin commented on #24
When I made this, I didn't expect many people to use it so I just threw the code up on here. I've never made my own Composer package before but I can look into adding support for it.

[2017-01-26 23:22] martinbean commented on #24
@djekl So could you.

[2017-01-28 08:11] barantr90 commented on #24
:+1: it is gonna be really good

[2017-01-30 15:32] barantr90 opened #26 "How can I secure login to PSN"
Hello,

I have a web site with a button like 'link your psn account'.
For now I write my email and password in my code block then login, get datas etc. but normally someone who visit my site does not want to write email and password in my form right? Is there a way to direct a user to PSN web site then login and redirect my web site?

[2017-01-30 15:34] barantr90 opened #27 "Session time"
Is there a way to understand a user logged in?
Now, every time when I send a request to Url, login function is working and get a lot of time.

[2017-01-30 22:35] #24 closed

[2017-01-30 22:48] xijbx commented on #26
Not as of yet. The way this package does it is the same way the official mobile apps communicate with Sony's servers, via email and password. They haven't added a public OAUTH authentication system (yet).

[2017-01-30 22:51] xijbx commented on #10
`CURLOPT_VERBOSE` is now set as false by default.

[2017-01-30 22:51] #10 closed

[2017-02-01 03:54] Tustin commented on #26
Unfortunately there isn't much you can do because of what @xijbx said. The best solution I can give you is to make a temporary PSN account and use it for the PSN script stuff.

[2017-02-20 08:45] IntelexualKitten opened #28 "UPdate User ID for Auth/ Cookie"
The Account used for the cookie is not working for auth now please update
 Crxsho

[2017-02-25 15:52] Tris10 opened #30 "Game Detail Request"
First, This API is fantastic, Awesome work. Really appreciate your work.

Small request, if we have the gameID (ie NPWR07466_00 = Rocket League), Is there another endpoint to get more indepth information about the game then just trophies?

This would be extremely helpful

-edit I know of this url https://store.playstation.com/store/api/chihiro/00_09_000/container/US/en/999/UP2002-CUSA01163_00-ROCK

[2017-02-25 19:52] Tustin commented on #30
Thanks for the feedback, I appreciate it :)

As for your question, I haven't really seen anything for it. There might be more we can do with the API but ultimately it requires Sony adding that functionality to the PSN app so I can see how to use it. I actually used that API endpoint you linked before when I made a site that hosted PSN avatars. The way I "generated" the correct URL just by having t

[2017-02-26 18:26] Tris10 commented on #30
Thanks for the response Tustin,

So I gave your old code a hard look over, "function getURL($cid)" , is $cid coming from a local file that already has "UP2002-CUSA01163_00-ROCKETLEAGUENA01" in it?

I tried to debug your code a bit to see if you were converting "NPWR07466_00 " into "UP2002-CUSA01163_00-ROCKETLEAGUENA01" but couldn't see so.

The system i was planning on using was to take someone's

[2017-02-27 11:01] SpaHost commented on #30
Try CompareGameUserTrophiesSimple(), it shows only number of trophies.
If you want to get all trophies with titles and descriptions use CompareGameUserTrophiesExtended().

[2017-02-27 14:34] Tris10 commented on #30
Thanks for the reply @SpaHost ,
So i took your suggestion and tried "$my_friend = $friends->CompareGameUserTrophiesExtended("NPWR07466_00","tustin25");"  (comparing rocket league to our good friend tustin25), and it did not solve the problem above, where i can make the connection of "NPWR07466_00" to the productID "UP2002-CUSA01163_00-ROCKETLEAGUENA01"

[2017-02-28 19:25] Bartvelp opened #31 "Constantly getting error 500 codes."
Hi,
Your project is really cool and interesting, but when I try to auth it with composer/manual installation,  I get 500 http error codes. I assume the only dependies are cURL and a recent PHP version so I got those installed on my RasPi. Do you have any way to troubleshoot my problems? I'm not a php developer so any help would be appreciated. I do have some experience with cURL and the chrome dev

[2017-03-01 03:56] Tustin commented on #31
Off the top of my head I believe those are the only things you need. It should work on PHP 5.5-7.1 so as long as you're using a PHP version from like the last 5 years you should be fine. As for what could be causing it, it's hard to say because a 500 error would be thrown due to a PHP error. Do you have logs setup on your pi? If you can find your web server's error log (due to the 500 error I'm gu

[2017-03-01 10:16] SpaHost commented on #31
Tell us more info about your installation... You have Raspbian? PHP5 or PHP7? Uses Caddy server? Apache/nginx?

[2017-03-01 11:24] Bartvelp commented on #31
Thanks to the both of you, I figured it out using the error logs. Turns out my cURL wasn't loaded properly in php so it constantly threw an error. A re-install fixed the problem...
Sorry for this obvious fix, I couldn't get my php to show the errors so I was kinda lost. But the error logs helped me out.
Great project and thanks for the help!

[2017-03-01 12:17] SpaHost commented on #30
I only can get the ProductID link to store in UserActivity...
Example: Horizon Zero Down

                                    [meta] => CUSA07319_00
                                    [type] => TITLE_ID

                                    [meta] => NPWR11556_00
                                    [type] => NP_COMM_ID

I can see NP_COMM_ID and TITLE_ID... and direct url to shop... Any other way?

[2017-03-01 21:54] Tris10 commented on #26
This API is so close to having a psn OAUTH, you just need a way to create your own client_id so you can setup the redirect and secret.

I went as far as to register with Sony's Fitness services (https://developer.sony.com/develop/services/lifelog-api/authentication/) and try that client_id since they are the same format as the one used in this code, And it didnt work.

I've tried registering as a

[2017-03-01 21:57] Tris10 commented on #30
Thanks @SpaHost  , I saw that too that in the UserActivity they nicely show the connection. But looks like nearly everyone's UserActivity is "friends only", So at a systems level i couldn't always count on finding this connection.

Seems like we are so close, and or there is a hidden endpoint somewhere that can do this.

But great work once again @Tustin

[2017-03-06 11:13] #31 closed

[2017-03-21 15:32] Octolus commented on #30
Their store is all Ajax/Angular or whatever, so there is a lot of JSON API's we could use to create this. I made a bot back in the days, to check if a game was released using their API (Just passing a search query).

[2017-03-21 21:26] Tris10 commented on #30
@Octolus , if you could find a game API that would be extremely helpful, or a way to convert the game id from title id (or whatever Sony calls it).

Thanks man!

[2017-07-05 00:46] xijbx commented on #30
Closing this as I don't think there's a decent enough way to do this right now. Will reopen if necessary.

[2017-07-05 00:46] #30 closed

[2017-07-05 00:46] xijbx commented on #28
Assuming this is now fixed. Closing for now.

[2017-07-05 00:46] #28 closed

[2017-07-05 00:47] #27 closed

[2017-07-05 00:48] xijbx commented on #26
Closing this. Doubt a real API will come to fruition any time soon.

[2017-07-05 00:48] #26 closed

[2017-07-05 00:48] #4 closed

[2017-07-07 13:53] bozzit opened #32 "Function to get GroupID by name"
Not sure if the following would have any value to the project.

New to contributing to Public Projects and not sure I will be contributing allot more so if there is another way I should be doing this let me know.

Messaging.php
[code]

Usage:

[code]

[2017-07-11 15:39] bohehe opened #33 "how can I get my "offline" friends info?"
[code]
As you see,  the parameter userFilter can be offline for default, But how can I get my "offline" friends?
I try to use "offline" for parameter, but the api returns an parameter error.

[2017-07-11 21:18] MaxPoweur opened #34 "Connect with a proxy ?"
Hello,

thanks for this share, it's really awesome :p

I wanted to know if there is a way to use it with a proxy ?

[2017-07-17 11:47] bozzit commented on #33
Hi,

did a quick search on google but since Sony didn't publish any documentation on their API not sure what the Valid Filters are.

Modify the function.

If Filter == 'offline'

remove userFilter= from the URL

that will return all the users on your friends list.

then you can programmatically figure out who is online or not by looking at [primaryOnlineStatus] => offline

Hope this helps

[2017-07-17 13:37] bohehe commented on #33
Thanks for your reply, removing userFilter from the URL helps me~

[2017-07-17 15:42] Tustin commented on #33
Good tip. I wasn't entirely sure because I believe the PSN app just shows either online friends or all of your friends. This isn't a public API by any means so unfortunately most of this stuff is just guess and check to see what works or what doesn't work.

[2017-07-17 15:44] Tustin commented on #34
Apologies for the late reply. I'm not too familiar with using proxies but the underlying requests are all done using cURL in the SendRequest function: https://github.com/Tustin/psn-php/blob/master/include/Utilities.php#L54

If you know of a cURL parameter to use a proxy, you could add it there and see if it works for you.

[2017-07-17 16:26] bozzit commented on #33
Yes I realize that this was trail and error and probably using a packet sniffer to figure out the http requests sent out.  Good work.  Been looking for a php API for a bit and will put it through its paces on the website I'm building.

That Said

could change the function as follows...

[code]

Bozz

[2017-07-17 16:42] bozzit opened #35 "Documentation Error on http://tusticles.com/psn-php/auth.html"
In:
[code]
catch (\PSN\PSNAuthException $e)

Should be

catch (\PSN\AuthException $e)

Notice PSNAuthException vs AuthExcepetion

[2017-07-18 13:47] appache7-2 opened #36 "captcha token missing ?"
Today I just had an error working on the API:

{"error":"invalid_token","error_description":"Invalid token","error_code":4097,"docs":"https://auth.api.sonyentertainmentnetwork.com/docs/","parameters":["captchatokenmissing"]}

An idea ?

[2017-07-18 14:12] bozzit commented on #36
I had same issue and also discussed in #18 to work around it go to playstation.com and perform the login, and reCaptcha verification manually, Once credentials are validated should work again via the API.

Bozz

[2017-07-18 20:15] xijbx commented on #32
If you could submit this as a pull request, that would be great! We can merge it in. :)

[2017-07-18 20:17] xijbx commented on #35
@Tustin - tagging so you see this.

[2017-07-18 20:18] xijbx commented on #36
As @bozzit has said, this is unfortunately an issue we can't work past any other way right now. Hopefully we will find a way to do this soon.

[2017-07-18 20:18] #36 closed

[2017-07-18 22:23] Tustin commented on #35
Thanks for letting me know. I just fixed it! 👍

[2017-07-18 22:23] #35 closed

[2017-07-19 00:47] #33 closed

[2017-07-19 08:47] appache7-2 commented on #36
There would simply be a relationship with the https://auth.api.sonyentertainmentnetwork.com/docs/
Is down?

"Service Unavailable - Zero size object"
The server is temporarily unable to service your request. Please try again later.
Reference # 15.c481655f.1500453832.ba10c15

[2017-07-19 09:49] bozzit commented on #32
Hi,

Again New To Collaboration on Git hub so let me know if I'm doing something wrong or how I should di this.

Thanks,

[code]

[2017-07-19 10:04] bozzit commented on #36
No that is a different issue.  If the Network is unavailable your script should catch the error and notify your end user or log the error.  The Captcha issue is more related to additional security Sony has added to prevent Bots from creating accounts on PSN.

Not sure what the conditions are exactly (Too many Login Failure, login from different geographic Location, etc). at times PSN will require

[2017-07-19 11:33] bozzit commented on #32
think I may have answered my question.  Check Pull Request from Forked Repo

[2017-07-19 11:36] bozzit commented on #32
Should I also submit my proposed changes to the MyFriends Function in #33 ?

[2017-07-22 09:42] appache7-2 opened #38 "Retrieve clean data"
Hello everyone,

Can someone give me a helping hand, or tell me on which voice to turn me, I would like to retrieve messages from my community, so I do a var dump as in the doc, but I would like to put a little In shape and really recover puddles and messages, I imagine to loop?

I do not know at all to retrieve the data of the table.

Thank you !

[2017-07-22 09:45] appache7-2 commented on #36
I think the problem come from several connections on several platforms or simultaneous connections. (According to my tests)

I have created a bot for my community, with a PSN account, that sends ~ 700 messages / day, it is still active after 7 days.

[2017-07-22 10:58] bozzit commented on #38
Check Issue #32 , there is code there that loops through all subscribed group that should give you a starting point to what you are looking to do.  If you need more let me know.

[2017-07-22 11:25] appache7-2 commented on #38
**To be more precise in my research:**

[code]

**My result is :**

`array(100) { [0]=> object(stdClass)#5 (7) { ["id"]=> string(36) "58c3e6f8-6ecf-11e7-850d-02274b40f336" ["creationTimestamp"]=> string(20) "2017-07-22T11:17:28Z" ["message"]=> string(118) "Je possède une deuxième animus gp proposer moi las méllieur offre que vous pouver (si possible avec une centio v17)" ["author"]=> object(stdCla

[2017-07-22 12:57] bozzit commented on #38
This should work:

[code]

[2017-07-22 13:14] appache7-2 commented on #38
Great, thank you, I was not far: P

[2017-07-22 16:08] appache7-2 opened #39 "error : invalid_np_grant"
When I refresh my page, I often have this error:

{"error":"invalid_np_grant","error_description":"Failed to obtain X-NP-GRANT-CODE","error_code":20}

an idea ?
thx

[2017-07-26 21:56] xijbx commented on #32
If you could that would be great. I'll go review the pull request now. Thanks!

[2017-07-26 21:56] #32 closed

[2017-07-26 21:58] #38 closed

[2017-07-26 22:00] xijbx commented on #39
This sounds like it's related to #5 - try logging into the full Sony Entertainment Network website on a desktop browser, there could be a captcha in the way.

[2017-07-27 10:11] newtype0096 opened #40 "Other User's Trophies"
Hello. Thanks your awesome project.
I could get my trophies using $trophy->GetMyTrophies();

But,
How can I get other user's trophies?
is it impossible now?

[2017-07-27 12:21] bozzit commented on #40
Might be able to get Your friends trophies from the following?

[code]

[2017-07-27 16:14] newtype0096 commented on #40
Ah, Thanks @bozzit
I didn't see Friends.php
method was this file.

[2017-07-27 16:28] bozzit commented on #40
Not 100% sure it will give you everything you need though.  I'm also new to the project.

[2017-07-27 16:34] #40 closed

[2017-08-01 12:17] appache7-2 opened #42 "Very long data transfer"
Hello everyone,

Loadings, message sending, info retrieval etc. are very slow not?

[2017-08-01 15:22] appache7-2 opened #43 "images in the post on the communities"
Is it possible to retrieve and display the images in the post on the communities?

[2017-08-02 13:34] bozzit commented on #43
Yes should be able to.

Using GetMessagesInThread, will return an object with messages in a Forum and Thread if the message has an image then [images] will be present with a URL to the image.

as in:

[code]

[2017-08-02 14:24] appache7-2 commented on #43
I do like that?
I try but it returns me NULL
Thank you for your help

`<?php

      foreach ($result as $iKey => $oMessage)

      {

      $id_message = $oMessage->id;
      $time = $oMessage->creationTimestamp;
      $message = $oMessage->message;
      $url_message = $oMessage->images->sourceUrl;       <---------
      $pseudo = $oMessage->author->onlineId;
      $avatar = $oMessage->author->av

[2017-08-02 15:47] bozzit commented on #43
This Works for me.

[code]

[2017-08-02 18:05] appache7-2 commented on #43
Great I succeeded, thanks to you!
But I do not have the information now.  $date,  $message, $userid ...

`

      foreach ($oReponse->messages as $iKey => $oMessages)

    {     	  $id_message = $oMessage->id;
		      $date = $oMessage->creationTimestamp;
		      $message = $oMessage->messages;
		      $imageMessage = $oMessage->images->sourceUrl;
		      $userid = $oMessage->author->onlineId;

[2017-08-02 20:08] bozzit commented on #43
You have wrong Variable name

[code]

**Becomes**

[code]

[2017-08-03 01:22] appache7-2 commented on #43
It works, impeccable.

[2017-08-03 01:22] #43 closed

[2017-08-03 01:24] appache7-2 opened #44 "Message with an attachment? (For a community)"
Is it possible to send a message with an attachment? (For a community)
I found nothing in the doc, sorry,

[2017-08-03 11:55] bozzit commented on #44
From what I can read in the code it's not possible at this time.

[2017-08-04 20:15] Tustin commented on #44
I'll have a look at the app again. I may have just forgot to add it whenever I was looking at community stuff.

[2017-08-04 20:27] bozzit commented on #44
Hey if you could give me some info on how you get the URL and info from the app might be able to contribute some more

[2017-08-04 21:30] Tustin commented on #44
Sure. Since their API requests are all HTTPS, you'll need to setup a certificate on your device that acts as a middleman so you can decrypt the requests and responses. The program I use for this is called Fiddler and this will help you setup the HTTPS certificate (if you have an iPhone anyways, not sure about Android): http://docs.telerik.com/fiddler/Configure-Fiddler/Tasks/ConfigureForiOS

You'll

[2017-08-18 20:07] hawkiq opened #45 "get user basic info without login"
I want to get user basic info (total trophies,platinums,golds ... etc) without login

[2017-08-19 17:12] Tustin commented on #45
You cannot do this using this specific API. However, there is an alternative API you can use that doesn't require authentication. All you need to is specify the right Referer:
[code]

[2017-08-21 14:15] Yoymoyroy opened #46 "problems with installation"
hi I wanted to try your psn API
but when I start the testfile I always get an internal error 500.

These are my installation steps:
I tried to install it on my Ubuntu 16.0 System

first, i installed composer.
After that, I opened terminal and jumping in my /var/www/html folder
then I typed:  composer require tustin/psn-php
and got the follow messages

tim@tim-ThinkPad-T530:/var/www/html$ composer

[2017-08-29 23:13] darioDelTemple opened #47 "Question: client_id, client_secret, duid and state values"
Hi, looking for an updated version for the gumer-psn project I found this one (great work on the updated auth code!) and I was wondering if it would be wise to change some of these values before using your code:
client_id, client_secret, duid, state

Are you using reverse engineered values for those (native Android/iOS apps, desktop web app) or can some of them be generated (for example: state and

[2017-08-30 03:21] Tustin commented on #47
Honestly I'm not totally sure if Sony does any checking on the client ids/secrets or anything. IIRC, the client id is the same for everyone so if you feel like it would be safer to use a different secret or whatever, you could do that.

Yes, those values were what I reversed from the requests on the iOS app. There isn't a way to generate them yourself because Sony doesn't allow for creating your o

[2017-08-30 15:03] ShuiXinYun opened #48 "Messy code problem"
Hi, Thanks a lot for your work. I tried this api and I checked my account info like this:

`$user = new \PSN\User($tokens);`
`$me = $user->Me();`
`var_dump($me);`

It gives quite lots of information, and I checked most of the info works correctly, but in [aboutMe] part, there's messy code problem like this:
["aboutMe"]=> string(74) "銆岋紛锛娿€嶅皬澶勬垚灏卞ぇ浜嬨€岋紛锛娿€岹reatness From Small Beginnings."
the corre

[2017-08-30 15:09] Tustin commented on #48
Very interesting. Most likely a problem with different text formats (Unicode <-> ASCII) or something of the sort. I'll take a look at that and see if there's anything I can change to make it show properly.

And yes, since `$me` in your code is an object, you can access it's members by using `->memberName`. So if you want to get your onlineId, you can do something like this:
[code]
Which should out

[2017-08-30 15:20] ShuiXinYun commented on #48
Thanks for your reply, I'll check the C# version. Really love your profile picture, so cute DOGE.

[2017-08-30 15:21] ShuiXinYun commented on #48
Thanks for your reply, I'll check the C# version. Really love your profile picture, so cute DOGE.

[2017-08-30 15:49] darioDelTemple commented on #47
sounds good!, thanks for the prompt answer.

[2017-08-30 15:49] #47 closed

[2017-09-03 15:02] #45 closed

[2017-09-03 15:03] xijbx commented on #46
What error are you getting in your webserver error logs?

[2017-09-06 17:27] DJLunacy opened #49 "Export Messages To CSV"
What would be the easiest way to create a message archive of your messages as CSV? (Sent & Received)

Thank You!

[2017-09-29 07:23] voidby commented on #36
How can i make this? Any link?

[2017-09-29 15:12] Setzu opened #50 "Invalid token"
Hello,

I can not connect to the API with my email and password, i have this following error :
{"error":"invalid_token","error_description":"Invalid token","error_code":4097,"docs":"https://auth.api.sonyentertainmentnetwork.com/docs/","parameters":["captchatokenmissing"]}

Some time ago, it worked

[2017-10-01 14:27] voidby commented on #50
i have same problem

[2017-10-02 11:41] zexz commented on #50
same here

[2017-10-02 17:39] Tustin commented on #50
Captcha was added to their login form recently. Not sure if there's a good way for me to implement it into this library but if anyone has any ideas, feel free to let me know.

[2017-10-02 17:45] DJLunacy commented on #50
The login form where it asks if you're a robot with a checkbox and the visual catchpa?

If so that's been on the form for a couple of months at least on the website. Did they just start enforcing that through the API? I don't remember if that's been on the iOS app for the same amount of time.

[2017-10-02 17:57] Tustin commented on #50
It's existed for a while but I think it was only enforced if you had some failed login attempts. Now it seems to be enforced each time you login, regardless if it's your first attempt or not. That change was also implemented in the API because I remember some people occasionally got it when they were using this with multiple accounts.

[2017-10-02 17:59] DJLunacy commented on #50
Do you think there would be a way that once the account is logged in via desktop we could pass the authentication (ex via a cookie) somehow, possibly through a curl request that would let those commands process again?

[2017-10-02 18:03] Tustin commented on #50
Yeah, I made a program a while back that's basically the PSN app for Windows and I store the auth and refresh tokens. It uses the refresh token each launch to authenticate and it still works fine. So as long as you can save the refresh token, you can use that to authenticate each time without the captcha (hopefully).

[2017-10-02 18:06] DJLunacy commented on #50
That's what I was thinking.  If you would like some help testing that let me know. I also have a MacBook for testing as well.

[2017-10-02 18:10] bozzit commented on #50
Hey,

Ya my stuff is also broken, and can't use the API anymore failing with the invalid captchtoken, and even from desktop (Firefox) on that account I have to solve the captcha everytime I log in

If that helps any.

[2017-10-03 10:15] voidby commented on #50
So there are no working ways to login? Would be grateful for the working method.

[2017-10-03 15:36] Yoymoyroy commented on #50
"Yeah, I made a program a while back that's basically the PSN app for Windows and I store the auth and refresh tokens. It uses the refresh token each launch to authenticate and it still works fine. So as long as you can save the refresh token, you can use that to authenticate each time without the captcha (hopefully)."
@tustin  if it works can you upload it? Greetings from Germany

[2017-10-03 22:40] cipherNexus commented on #50
how can I get these codes, I'm using fiddler, but I don't know where to look

[2017-10-04 20:32] cipherNexus commented on #50
I got refreshtoken by using Two-Step authentication method, and then I was able to login usin this refreshtoken. But now, when I try to login with refreshtoken again I receive this message:
{
"error":"invalid_grant",
"error_description":"ToSUA must be re-accepted",
"docs":"https://auth.api.sonyentertainmentnetwork.com/docs/",
"error_code":103
}

[2017-10-04 20:39] DJLunacy commented on #50
@cipherNexus How are you using the 2FA?

It sounds like all you would need to is log in to the account, or better yet the PS4 after a firmware update. They just refreshed the TOC so you'll need to do them.

[2017-10-04 23:44] markl181 commented on #50
@cipherNexus can you provide some details or a link on how the 2 step authentication works please? I logged into my PS4 and accepted the new terms and my API connection still won't work, so I think this is the fix.

[2017-10-05 00:00] bozzit commented on #50
The following link shows how to setup 2 Step Verification on you Playstation account.

https://www.youtube.com/watch?v=38ZapwnHwgY

I guess this removes the reCaptcha since there is no need to check if you are a human since a code has to be retrieved from your mobile and entered to sign on.  The part I'm unclear about is once this is turned on how does this make Authentication work via the API to

[2017-10-05 14:05] bozzit opened #51 "GrabNewTokens Function enhancement"
I propose that Instead of returning false, returning the error_code and error_description so one has an idea of why it failed.

[code]
Calling the Function like this:

[code]
I'll be submitting a merge request if you think this change is worth while.

[2017-10-05 16:14] cipherNexus commented on #50
After set the 2 step verification in playstation account, navigated to psn login URL, put the user and pwd and go ahead, when the two step page renders, grab the ticket_uuid from the new URL and this is the last step in browser. Now, on your project, for the two_factor_auth_request method, pass this ticket_uuid and the code you received on your phone as parameter, then store the refresh token retu

[2017-10-05 20:02] bozzit commented on #50
I Just Tried this and there is no ticket_uuid in the URL in my browser (Firefox).

So Username/Password (solve the Im not a robot) get prompted for a 2step Verification get the code on my phone.  Url at that point doesn't have ticket_uuid  I have a client_id in there.

What am I missing?  Need to Fiddler the requests?  Don't have fiddler installed / configured :(

Here is the URL when I'm sitting

[2017-10-05 20:22] Tustin commented on #50
@bozzit 2FA is a pain in the ass to deal with but this is the route I went with when I was working on a little project using this. You can probably make it better but IIRC this worked fine. The code probably needs to be cleaned up because of debugging stuff.
[code]

[2017-10-05 20:25] Tustin commented on #51
Yeah, this looks a lot better and I'm not entirely sure why I didn't do this in the first place. Thank a lot!

[2017-10-05 20:25] #51 closed

[2017-10-05 21:13] bozzit commented on #50
Thanks @tustin for your post the only reason I'm trying to 2fa is to get a new set of tokens and refresh tokens I can save and re-use.

 in your code above

[code]

the API returns right away

[code]

I don't even get to the 2fa part so I won't be able to get the ticket id this way.

So it was suggested above that from the PSN website interface I could enter my username/password solve the reCaptch

[2017-10-05 23:35] cipherNexus commented on #50
@bozzit ,try this link https://auth.api.sonyentertainmentnetwork.com/login.jsp
As soon as check that you're not a bot, you will be redirected for a page that show you the ticket ID as I show below

https://auth.api.sonyentertainmentnetwork.com/signin/#/signin2sv/code?response_type=token&scope=kamaji%3Asocial_get_graph%2Ckamaji%3Augc%3Adistributor%2Ckamaji%3Aget_account_hash%2Ccapone%3Areport_submi

[2017-10-06 00:58] bozzit commented on #50
@cipherNexus OMG Thank you SOOOO much.  I think this worked. I'll do more testing and change my app to save the refresh token to db and use Refresh instead of Re-Auth every time.

I'll let you know if I run into any other issues with this. Appreciate the help

[2017-10-06 13:11] bozzit commented on #50
Back in business.  Thank you to all that provided help and feedback.

Much Apprecialted

[2017-10-06 16:56] Tustin commented on #50
Glad to hear you got it working. I'll try to come up with a way of maybe doing what other services do when you want to connect with your PSN account; redirect to the actual login page and have it redirect back. Don't know if it'll be possible but I think it's the only option at this point.

[2017-10-07 19:51] Tustin commented on #50
Ok, so I have some bad news about this. My plan was to make some static function in Auth.php that would just redirect to the login form that Sony uses for other applications. You would be able to pass your own callback URL that would parse the response but it seems like they have checks for that:
`{"error":"redirect_uri_mismatch","error_description":"Invalid redirect: http://localhost/psn-php/call

[2017-10-09 18:03] chardido commented on #50
@Tustin there is something we can do in order to get the online friends list?

[2017-10-10 11:12] bozzit commented on #50
@chardido http://tusticles.com/psn-php/friends.html  should be a good start for what you are asking.  You should of started another issue your question doesn't really belong in this thread.

[2017-10-10 11:15] bozzit commented on #50
@Tustin maybe a clue for you.  I noticed that when you enable 2FV (2fa) that Sony has a way to specify a verification code for older devices such as PS3, this could maybe used by your class to bypass the reCaptcha.

Just a thought.

[2017-10-10 13:04] chardido opened #53 "Show Friends without Token error"
I've seen a lot of apps in the App Store, that show the list of friends connected to the PSN (like "PSN Buddies").

I've tried to get the list with your script, but it gave me an error during the login phase (the same of the previous issue).

Is there a method to log in through playstation.com (with a popup, like google login) and then return the results to my page?

[2017-10-10 14:07] bozzit commented on #53
If you read all the posts in #50 Invalid token, the issue is the new reCaptcha that Sony is now enforcing. There is no way to do this authentication via the Script at this time.  So we have worked around the authentication issue by doing the following.

1. From the PSN Website or App or  Console Enable 2 Step Verification
2. Go to https://auth.api.sonyentertainmentnetwork.com/login.jsp
    Enter y

[2017-10-11 14:39] Faultz commented on #53
@bozzit hey, can you when i try logging in with auth.api.playstation.... it says invalid whenever it's got 2fa on, could you please help? Skype: squad101club or Discord: Faultz#0615. - Faultz.

[2017-10-11 14:48] Tustin commented on #53
I looked at one of those apps you mentioned and it seems like they use the method I wanted to try (showing the login form on Sony's site and then redirecting back) but for some reason, they're allowed to the redirect to return to their app after the login. I tried replicating it with this to allow you to specify a callback URL as the redirect URL for Sony's site but they have checks in place to ma

[2017-10-11 14:57] Faultz commented on #53
@Tustin btw i've been trying to get into contact with you, added you on discord.

[2017-10-11 20:13] jhewt commented on #50
Hello there, I'm a mantainer at other PSN library made in node.js (gumer-psn).

I've recently trying to look another way to auth to their server, hopefuly to bypass their new enforced reCapchas.

While trying different methods to auth, Sony has made me very clear that they really don't want us to sniff around as they recently send an abuse report to our office ISP and VPN provider.

So, while rese

[2017-10-16 09:43] alperselvi commented on #18
Is there any news on the issue, i am too suffering from this problem in my application

[2017-10-16 09:44] alperselvi commented on #36
i have logged in from every browser to every sony website i could think of but it still gives me captcha missing error. which link should we use in order to pass this problem

[2017-10-16 11:43] bozzit commented on #36
@alperselvi checkout my step by step instructions in Issue #53

[2017-10-16 14:53] alperselvi commented on #36
can't thank you enough, it was a bit hard but i managed to save NPSSO value

[2017-10-16 14:55] bozzit commented on #36
don't forget to save your refresh token value as well

[2017-10-16 14:59] voidby commented on #36
lol, cannot enable 2FA, because my country is not supported :(

[2017-10-16 15:06] bozzit commented on #36
use a VPN service for this part.  some free ones out there.  You can appear to be coming from anywhere on the planet.

[2017-10-20 16:20] ErneX commented on #50
@cipherNexus the "ToSUA must be re-accepted" message I think it's just that you need to accept the new terms and conditions, have you tried signing in on a browser with that account?

[2017-10-22 13:54] Octolus commented on #50
@jhewt I understand that, but that's an false abuse report from them. I can't imagine you were trying to take over any accounts, they are false-detecting bruteforce..

[2017-10-22 21:37] mgp25 commented on #50
@Tustin @bozzit can you point me where the refresh token is or where can i found it? Because `https://auth.api.sonyentertainmentnetwork.com/2.0/oauth/token` answers with an `access_token` but no `refresh_token` is found

Regards

[2017-10-23 13:07] bozzit commented on #50
@mgp25 check out my step by step in #53

[2017-10-23 18:13] mgp25 commented on #50
@bozzit thanks, that definetely that worked! 👍

[2017-11-13 20:21] mgp25 commented on #50
Hello people, today i was reading some stuff when i noticed this information, we can bypass reCaptcha using the following methods:

- http://rickyhan.com/jekyll/update/2017/11/10/bypassing-recaptcha.html
- https://www.blackhat.com/docs/asia-16/materials/asia-16-Sivakorn-Im-Not-a-Human-Breaking-the-Google-reCAPTCHA-wp.pdf

Regards

[2017-11-14 08:19] dandelaney8 commented on #53
@bozzit & @Tustin hey, thanks for getting this stuff together.

I just tried the method above, and after logging in on https://auth.api.sonyentertainmentnetwork.com/login.jsp with my account that has 2FA enabled, I'm not getting redirected anywhere. All I get is an error saying "Incorrect e-mail address or password. Please try again."

I tried this earlier with the account before I enabled 2FA, an

[2017-11-16 22:41] dandelaney8 commented on #50
I tried the method above, and after logging in on https://auth.api.sonyentertainmentnetwork.com/login.jsp with my account that has 2FA enabled, I'm not getting redirected anywhere. All I get is an error saying "Incorrect e-mail address or password. Please try again."

I tried this earlier with the account before I enabled 2FA, and it logged me in and brought me to the API page with a title, an opt

[2017-11-20 06:44] software4587 commented on #18
Have you resolved the above problem?

[2017-11-20 06:45] software4587 commented on #18
Have you resolved the above issue?

[2017-12-04 15:08] cipherNexus commented on #50
After some time using 2FA, now I'm facing @dandelaney8 's same problem. Any suggest to fix now?

[2017-12-05 11:20] Faultz commented on #50
Hello, use this to get ticket_uuid.
https://www.bungie.net/en/User/SignIn/Psnid?code=000000

[2017-12-16 00:17] appache7-2 opened #54 "It still works?"
Still no idea?

{"error":"invalid_token","error_description":"Invalid token","error_code":4097,"docs":"https://auth.api.sonyentertainmentnetwork.com/docs/","parameters":["captchatokenmissing"]}

[2017-12-26 04:48] technweb commented on #54
+1. Any workarounds?

[2018-01-16 17:10] vincent1892 opened #55 "Playstation 4 Game Statistics"
Hi,

First of all thank you for this repo. I was wondering if there's a way to get game stats using from playstation 4 to a website (just like in Xbox). Would this be possible? if so please do let me know how thank you.

Best,
Vincent

[2018-01-23 17:29] bozzit opened #56 "Error code: [2122118] 'onlineId' parameter required in body"
Anyone encountering this error?

[2018-01-23 19:50] bozzit commented on #54
Ya still works, and a work around.  Let me know if you still need help

[2018-01-25 02:17] Faultz commented on #54
@bozzit is there any way to make it a faster process or anything also, how can i contact you?

[2018-01-25 03:57] technweb commented on #54
I may need help. I am not able to make it work and I assume it’s because of the recent change they did when added CAPTCHA

[2018-01-25 12:54] bozzit commented on #54
Yes the CAPTCHA stuff has messed things up for us here is the workaround.

https://www.bungie.net/en/User/SignIn/Psnid?code=000000

This link allows you to link your PSN account to your Bungie one.

Once authenticated and on the 2FA screen collect the URL will look something like:

https://auth.api.sonyentertainmentnetwork.com/signin/#/signin2sv/code?response_type=code&client_id=78420c74-1fdf-4575

[2018-01-27 14:54] Faultz commented on #54
@bozzit appreciate the help i found that bungie link while testing stuff too haha, thanks again.

[2018-01-27 16:31] Faultz commented on #54
What about this returning when authenticating, do i need the 2FA code entered in the Auth function? {"error":"invalid_credentials","error_description":"Invalid two step credentials","error_code":4420,"docs":"https://auth.api.sonyentertainmentnetwork.com/docs/","parameters":[]}

[2018-01-27 18:26] bozzit commented on #54
Well not sure where you got that error from, but ya in my example above to retrieve your oauth tokens you need to supply the 2FA number.  Once you have your refresh tokens, you don't need to Authenticate but just refresh them instead.

[2018-01-27 18:42] bozzit commented on #56
seemed to be caused by PSN Network Issues.

[2018-01-27 18:42] #56 closed

[2018-01-29 09:46] baconico opened #57 "Get Game Title by GameID?"
First of all, thanks for Tustin to share this project!

I had get all trophies data by this project, and crawled game data from psn store. But I can't associate them, is there any way to get game title by game id(ex. NPWR07466_00)?

And another two question:
1.How to get trophies detail in other language like zh-CN or zh-TW? (I think I have solved this problem, but I still want to know is there an

[2018-01-30 08:28] wong90 commented on #54
It seems like i was hitting this when i follow this step https://github.com/Tustin/psn-php/issues/54#issuecomment-360458697 :
`{"error":"invalid_ticket","error_description":"Invalid ticket","error_code":4421,"docs":"https://auth.api.sonyentertainmentnetwork.com/docs/","parameters":[]}`
@bozzit did you hit this error before? Because i already double checked i did pass in the correct `ticket_uuid` a

[2018-01-30 12:42] bozzit commented on #54
@wong90 I have not  tried this in about 3 weeks, but the above worked for me.  I was able to authenticate and gather refresh tokens I've been using ever since.

I would have to try with another PSN account the last thing I would want to do is mess up my oauth refresh tokens and lock myself out.

Sony may have changed things YET again.

[2018-02-16 23:07] bozzit commented on #54
I have recovered my tokens using this method just now. So it does still work

[2018-03-11 01:06] tyman1294 commented on #57
Curious on how you went about getting around the whole login issue?

[2018-03-13 10:31] Octolus commented on #57
Mind sharing how you crawled etc? @baconico

[2018-03-22 05:09] mabi86 commented on #54
@wong90 try this.
when you collect the ticket_uid, before you use the following code:
[code]
you should change params "client_id" in Auth Class file. "client_id" you can get in authenticated 2FA  URL. the Auth code change:
[code]

[2018-03-28 09:49] krazyjakee commented on #54
I got it to authorize but when I request trophies url I get "Needs to upgrade for PSN access" error. Does the scope need to be updated? Here is my URL: `https://us-tpy.np.community.playstation.net/trophy/v1/trophyTitles/NPWR07466_00/trophyGroups/all/trophies?fields=@default,trophyRare,trophyEarnedRate&npLanguage=en&sortKey=trophyId&iconSize=m`

[2018-04-23 01:15] mgp25 commented on #54
Hello @bozzit, I am updating my python port (https://github.com/mgp25/psn-api) with the latest PlayStation changes and migrating to HTTP2.

And I have a question for you. While testing all the functions, all worked except sending a message (with the same format this library sends it). PSN has changed the request, but since I'm getting:

[code]

I want to ask you if it is still working (at least fo

[2018-04-25 00:55] Tustin commented on #54
@mgp25 If you haven't got it working yet, I can take a look at the API again to see what exactly changed.

[2018-04-25 01:00] mgp25 commented on #54
@Tustin I haven't yet, the request right now is the following one (notice that they are using HTTP2 now):

[code]

Since my port is using python, none of the libs were supporting http2, unless hyper. I have opened an issue there (https://github.com/Lukasa/hyper/issues/380#issue-317301294) where I asked if I was doing it right:

[code]

And the response I get from the code above is:

[code]

Regard

[2018-05-08 07:50] baconico commented on #57
@tyman1294, Read this to solve login issue :
https://github.com/Tustin/psn-php/issues/50#issuecomment-334620408
https://github.com/Tustin/psn-php/issues/50#issuecomment-349275231

[2018-05-09 11:17] expressgts18 commented on #53
@bozzit  @Tustin same issue as  @dandelaney8 is facing..

[2018-05-09 19:55] markl181 commented on #53
Also same - just coming back to this after a while and still unable to make this work unfortunately. When I try the url above I get an error and directed back to https://auth.api.sonyentertainmentnetwork.com/login.jsp?authentication_error=true&error_code=4902

I am able to sign in with the same credentials through https://id.sonyentertainmentnetwork.com/ but that never shows any uuid during the si

[2018-05-09 21:31] bozzit commented on #53
@markl181 @expressgts18

Start Here instead. https://www.bungie.net/en/User/SignIn/Psnid?code=000000

That will redirect you to the correct PSN url where you should be able to get the Token.

Let me know

[2018-05-14 11:48] markl181 commented on #53
thanks @bozzit - I got a little closer, I was able to get the refresh token but now I get an error at the next step. Here's my code (with all the actual tokens etc. removed)

`try
{
    $account = new \PSN\Auth("test@test.com", 'password');
}
catch (\PSN\AuthException $e)
{
    header("Content-Type: application/json");
    die($e->GetError());
}

$tokens = \PSN\Auth::GrabNewTokens('refreshtoken');

[2018-05-14 11:57] bozzit commented on #53
@markl181

The issue is that you should NOT Auth once your have refresh tokens... but just Get New tokens instead.

I use a mysql DB to store the refresh tokens I manually got from the bungie URL and update them with the results of GrabNewTokens.

My code looks something like:

[code]

[2018-05-14 23:40] markl181 commented on #53
@bozzit perfect, looks like it works now. Thanks!

[2018-05-23 22:35] Trying2Get opened #59 "Please Help I'm New"
Hello, I'm new to this site and all of the coding as well. I am here looking for help on how to find information for a particular PSN account. It was an old account of mine that was hacked and I am trying to get it back. Sony support will not help me because I do not know the current email the PSN is under. If anyone can help me that would be really appreciated.

[2018-05-23 23:49] xijbx commented on #59
I'm afraid this library won't be able to help you achieve that. You require a login to use it, and you cannot use it to see other people's personal details (such as email address).

[2018-05-23 23:49] #59 closed

[2018-05-24 17:35] Argosth opened #60 "Is it possible to check a friend o player trophy progression That Is Not A Friend?"
Hi, I just get my profile, trophies and everything about me with my token, but I was just realizing if is possible to get my friends or players by name information with my token, to have their progress in my web like psnprofiles.com do.

[2018-06-01 18:33] markl181 opened #61 "Game(s) missing from GetMyTrophies"
Hi,

I've got your code working, but I noticed that at least one game is missing.

If I look on https://my.playstation.com/ I can see the trophies for this game. Also if I call the trophies by game they show up. Any thoughts on why this would be?

This code is missing the game (the game id is NPWR08142_00 if that helps):

`$trophy = new \PSN\Trophy($tokens);
    $my_trophies = $trophy->GetMyTrophi

[2018-06-03 19:00] philipgoffinet commented on #55
@vincent1892 Did you ever figure this out? I am also interested.

[2018-06-11 15:32] mgp25 commented on #54
Any news @Tustin?

[2018-06-17 10:40] mokalovesoulmate opened #62 "How to get friend's last online data?"
As subject, how to get last online data from a friend?

As far as I know, PS4 console displaying this information, meanwhile the website my.playstation.com does not display this information. I am seeing the GET request from my.playstation.com website, it does specify a column, my best guess are only `lastOnline` and `lastLoggedIn` but none of them are works.

Thanks.

[2018-07-07 18:05] dollabi11z commented on #54
what a pain in the ass. you have to grab a gdam 2fa code ever time u want a token. we need something that bypasses the dam capcha to make this Automated

[2018-07-10 16:55] Argosth commented on #61
Hi, if you are saving your data in a SQL Database, take in mind that some game titles like "Assassin's Creed", has a special character (' apostrophe), so, you should use a function to ignore that, like this one in php: ($title = mysqli_real_escape_string($database->con(),$my_trophies->trophyTitles[$i]->trophyTitleName);), The first part is the connection to the database.

I hope my answers was use

[2018-07-16 15:54] Tustin opened #63 "Bypassing Captcha Attempts"
Obviously there's been an issue with being unable to login due to the addition of ReCaptcha on the PlayStation login form. I've been trying to think of ways to bypass this with no avail. I wanted to make this issue so if anyone has any ideas or suggestions, they can post them here or try it themselves.

The best way (I think) to get around this is by having a function in the library that redirects

[2018-07-16 16:40] LachlanFry commented on #63
use chromeless or something along the lines of that which will allow the javascript to run then extract the captcha display it to the user they complete it, you send the completed captcha token in your login request ez, i did the same type of thing for amazon for token redeem

[2018-07-16 17:59] Tustin commented on #63
I've created cdc4d13ba1f233e335aa036fa218ac0c7398f261 to use the method @LachlanFry suggested. If no other lightweight solution is discover, I'll merge this branch to master.

[2018-07-16 23:12] AssurexCircuitry commented on #63
Lol Fucking @LachlanFry XD XD

[2018-07-16 23:18] AssurexCircuitry commented on #63
@Tustin, Maybe  Try rockstar Games Social Club, whenever i logged in through PSN with rockstar no Captcha

[2018-07-19 22:32] AssurexCircuitry commented on #63
<?php

/*
  SIE CONFIDENTIAL
  Network - NP S2S Website Sample
  Copyright (C) 2016 Sony Interactive Entertainment Inc.
  All Rights Reserved.
 */

/**
 * This file contains the code which allows users signed in to PSN to retrieve their Profile and access information.
 * This information is saved as a session variable to be used by various PSN Web APIs that require it.
 */
// @codeCoverageIgnoreSt

[2018-07-19 22:32] AssurexCircuitry commented on #63
Idk if this is any help
https://pastebin.com/05b2Qd4U

[2018-07-24 07:40] Argosth opened #64 "Undefined index: oauth/refresh login problem"
Hi, I have been using the API without any problem since 3 or 4 month, but yesterday, I receive this error, I tried to do the 2FA again, but is the same information, so, I don't know how to solve this, I hope some of you can help me.

Thank you.

[2018-07-25 05:57] Argosth commented on #64
Yes of course, first.

I use the next function using the URL method of (https://www.bungie.net/en/User/SignIn/Psnid?code=000000), getting the Ticket_UID:

But, before using the function, I go to the Auth doc and change all User_UID with my current User ID provided by the URL, then, I use the function.

`try
{
   $account = new \PSN\Auth('yourpsnaccount@yourdomain.com',

[2018-07-26 08:30] DjYXA commented on #64
PHP Version?

[2018-07-26 08:40] Argosth commented on #64
PHP Version 7.2.5.

[2018-07-29 10:54] Nistelroy78 opened #66 "Not a Issue but request"
Im not the "King" of "Coding" but would this be possible to actually install this on Wordpress, and would it be best if possible to du a "iframe" or in the index file .

Could you give a example what to do.

[2018-08-01 09:25] Argosth commented on #54
Until this month, the API was working fine, now..., I get an empty array from PSN, so I receive the error:

[code]
I hope someone can help @Tustin finding a solution.

[2018-08-01 09:42] bozzit commented on #54
I had to manually refresh my token several time in July using the bungie URL in this thread with success. So you should be able to manually get a new token/refresh token.

[2018-08-01 16:01] Tustin commented on #54
@Argosth I made some changes to some headers to match the newest update and everything was working fine for me when I added the update background color + image stuff. So I'm not sure if that issue is because of those header changes, or if you're running an older version of the library that might not work anymore with the old headers. If you haven't, try updating with Composer and see if you notice

[2018-08-02 06:26] Argosth commented on #54
It works!!!!!!!!!, wow, nice Tustin, it works fine, I just downloaded via composer your new files, and I did not modified any files, even the Auth.php (cause someone said that I have to put mi Client_id into that file, and don't, that gave me an error), so I left all files without any modification, and now it works, thank you Tustin, now I have my trophies updated.

You can visit my personal websi

[2018-08-02 06:27] Argosth commented on #64
This issue has been solved for Tustin with his last update of his project, so this topic can be closed.

Thank you guys.

[2018-08-02 06:27] #64 closed

[2018-08-02 06:27] #60 closed

[2018-08-02 06:28] Argosth commented on #62
I want to know the same, I have a website https://www.argosth.com, in where I upload my personal information, but I want to know if I can have my friends games and trophies, @Tustin, Is that possible?

[2018-08-02 15:27] Tustin commented on #54
@Argosth glad to hear it fixed the issue! 😄

[2018-08-02 15:30] Tustin commented on #62
I've actually looked at this before and I don't believe Sony supplies that information unfortunately. Even the PSN app neglects to show the last online time, just like the website you mentioned. I'm always on the lookout for new updates to the app so if it ever shows up, I'll get it added asap.

[2018-08-02 17:51] Argosth commented on #62
The, how is possible that this website (https://psnprofiles.com/Argosth), can check anyone progress? your profile, maybe that website uses a special API like this one (https://www.psnleaderboard.com/api/)?

[2018-08-05 08:46] Nistelroy78 commented on #54
@Argosth Argosth , can you tell me how you got this implented maybe you can help me so i can implented in to my website ( its wordpress ) https://playstationforum.dk

[2018-08-05 08:54] Argosth commented on #54
Hey, you just have to download via (composer) the new files in the root of your site, after that, you just have to do what @bozzit commented on Jan 25 above.

[2018-08-05 09:13] Nistelroy78 commented on #54
@Argosth i try that - should this be in the "Index.php" or what .. or where should i put this ? in what file

[2018-08-05 10:44] Argosth commented on #54
This is all the proccess I do, it will be enough:

I do everything in a file called (psn.php), is not an index.php.
`
**First, the include/require.**
[code]
**Next, you should get your Ticket UID, and the password sent to your phone and use the next code.**
[code]
**If everything was ok, you will have now the Oauth, Refresh codes, save them in a file.txt or in a database.**
**Now, an example of us

[2018-08-05 14:08] ItsJustRubix opened #69 "Installing on Linux"
Not a issue, but just going to throw this here, thought that it might be helpful for some people who might not have any experience with composer.

The installations instructions on (http://tusticles.com/psn-php/) don't work with Linux.

This was done on Debian Linux, Not sure if it's the same with other distros.

Make sure you install composer as linked in the documentation

Once composer is insta

[2018-08-05 16:57] Argosth commented on #54
That error is shown when you try to get a new token information from the same data, you have only 1 attempt to get the oauth, nsspo, refresh etc, so, you go to the URL, get the Ticket UID and the 2FA code, and copy that to your file, and update, and go to your website and look, but not refresh, cause you can execute that only 1 time to see the info.

Try to do it in only one time, if you refresh t

[2018-08-07 03:31] markl181 commented on #61
Thanks - I'm just outputting the data onto a page, so I don't think the database is the issue (in any case I'm using PDO so I believe the escaping is done behind the scenes). Any other ideas why certain games would be missing?

[2018-08-08 11:35] markl181 commented on #61
After some more testing, I figured it out. Looks like the built in limit for the GetMyTrophies function is only 36. The object returned says that it has 91 results but I assume there is intended to be pagination used or something because not all 91 were displayed. Once I gave it a higher value everything showed up!

[2018-08-08 11:35] #61 closed

[2018-08-09 06:47] Argosth commented on #66
This is my website, maybe is something similar to what you want:

http://www.argosth.com

If you need help, just say it.

[2018-08-09 22:38] Tustin commented on #61
Apologies for that. I'm doing a complete rewrite of this library which will allow for more customization for all the requests :).

[2018-08-10 08:36] xijbx commented on #66
@Nistelroy78 it is possible to install this in Wordpress, however it is not a case of installing a plugin; you would need to load the class in yourself in a custom plugin, or theme.

[2018-08-15 06:46] Nistelroy78 commented on #66
@xijbx Is this something you could help with for my site `
@Argosth i allready made a user on your site, but i cant seem to find it on leaderboard only yours

[2018-08-19 22:43] Tustin opened #70 "Merging rewrite with master soon"
For the last week or two, I've been rewriting this library to be more consistent and be more object-oriented focused. All the work has been done on the `rewrite` branch and I believe I have implemented everything that's currently in the library plus some new things.

I plan on merging this branch with `master` sometime this coming week once I finish writing some examples and docs for the new code.

[2018-08-20 18:43] Argosth commented on #70
Thank you Tustin, I will update the library soon.

Thank you for real, you are doing a real hard work.

[2018-08-23 07:42] Jpelttari commented on #70
Thanks i will wait this update and then i try making port to nodejs for learning purposes.

My goal is make Twitch chat <--> PSN messages integration using bot as gateway.

[2018-08-24 12:34] xijbx commented on #69
[You can install composer globally too on linux which makes the instructions on here valid.](https://getcomposer.org/doc/00-intro.md#globally)

[2018-09-16 12:16] gameboyring opened #71 "do you know how to get someone's country?"
In the community will show the user's country, but I want my friend's country.thanks

[2018-09-16 18:39] #71 closed

[2018-09-18 03:02] Nistelroy78 commented on #66
@Argosth could you help me to make at least "Basic" to work and install ?

[2018-09-18 19:00] Tustin commented on #70
Rewrite has (finally) been merged! I'm sure there will be some issues but I figured the best way to test it is to just push it out and hopefully some people can report issues they find. I'll be working on the docs today and try to get them out ASAP. Just keep an eye out here: https://tusticles.com/psn-php/

[2018-09-18 19:00] #70 closed

[2018-09-19 18:41] #42 closed

[2018-09-19 18:42] #34 closed

[2018-09-19 18:42] #39 closed

[2018-09-19 18:42] #44 closed

[2018-09-19 18:42] #48 closed

[2018-09-19 18:44] Tustin commented on #55
The only game statistics that Sony stores is the trophy information. Any game information (like progression, levels, unlocks, etc) are only stored within that specific game.

[2018-09-19 18:44] #55 closed

[2018-09-19 18:44] #53 closed

[2018-09-19 18:45] Tustin commented on #54
The new version of the library now properly supports the 2FA login scheme to get around the Captcha issue. You don't need to store any confidential information like email and password anymore. See here: https://tusticles.com/psn-php/first_login.html

[2018-09-19 18:47] Tustin commented on #66
Sorry but I'm not familiar with Wordpress at all. Hopefully someone else can provide some information for you. I'll label this issue for you to help you out ;).

[2018-09-19 18:52] Tustin commented on #62
@Argosth I think PSN profiles might either use the same API this library uses, or they might use some old API (like the one on the PS3) to get that info. Although I'm pretty sure they still deal with the privacy problems, which would require the person to make their profile public so they can sync their trophies. From that point, the site can just cache the trophy info and use that to get around a

[2018-09-19 18:53] #46 closed

[2018-09-27 09:12] xijbx commented on #66
@Nistelroy78 I wouldn't be able to help due to time constraints; however with some minor learning (and trial and error) you should be able to hook it into any theme, or into your functions.php for your theme.

[2018-09-30 00:53] Tustin commented on #62
You can now access a user's last online date by accessing `lastOnlineDate` on a User object. It returns an instance of `\DateTime` with the last online date or `null` if the last online date couldn't be found (see [this comment](https://github.com/Tustin/psn-php/blob/master/src/Api/User.php#L164) for details)

[2018-09-30 00:53] #62 closed

[2018-10-03 04:59] Jugulanfu opened #73 "Can't find vendor/autoload.php"
I tried to run user.php in examples folder. But it said require_once(../vendor/autoload.php): failed to open stream:

I've looked into the folder, and there wasn't any files called autoload.php nor vendor folder.

Please help.

[2018-10-03 16:51] Tustin commented on #73
The example isn't really meant to be ran directly from the repo; it mostly is meant to show you how to use basic functionality. However, if you downloaded the repo and are trying to run that file, you need to run `composer install` (and maybe even `composer dumpautoload`) to pull in all the dependencies and then the file should work.

[2018-10-14 18:43] xSlOom opened #74 "Must be instance"
Hello,

I have recently tested this library but it seems to not working fine.

I have this error when trying to get my own informations:

Code is:

` require_once 'vendor/autoload.php';

use PlayStation\Client;

$client = new Client();
$client->login('token...');

$refreshToken = $client->refreshToken();

$user = $client->user()->aboutMe();
print_r($user);`

When testing on my computer (instead of

[2018-10-15 21:43] Tustin commented on #74
Weird, not sure why the return type thinks the object needs to be an instance of PlayStation\Api\object. It _could_ be some weird thing that's different in PHP 7.1 because I use php 7.2.6 and I don't have that problem here. I'll look into it and see if I can find out why that happens.

[2018-10-15 22:06] xSlOom commented on #74
Okay, i'll wait until you have a solution for. ^_^

[2018-10-15 22:09] Grustin opened #75 "Support additional PHP versions..."
I'm on PHP 7.0 which doesn't have support for nullable return types, normally I'd just update to the latest version but I'm working from an environment where I can't easily do that.

Because of this I had to manually edit out some stuff to get things working.

[2018-10-15 22:11] Grustin opened #76 "$client->user()->messageThreads returns an empty array."
I know for a fact that I have multiple existing message threads, but for some reason I'm not able to see any of them, any idea why?

[2018-10-15 22:12] Grustin opened #77 "Missing GroupAddUsers function."
Latest version is missing a function for adding users to a group chat.

[2018-10-15 22:16] Grustin opened #78 "Missing function to retrieve group messages."
Latest version is missing a function for retrieving group messages.

[2018-10-23 11:30] pacMakaveli commented on #74
Can confirm it doesn't work with `v7.1.9` . Updated to `v7.2.9` and it seems to work fine.

[2018-11-15 21:44] unckleg opened #79 "Secret key & Client ID"
Where can i apply for Secret key & Client ID ?

Thanks!

[2018-11-15 22:36] Tustin commented on #79
Those are only given out by Sony and can't be generated otherwise. The ones I'm using are for the mobile app.

[2018-11-15 23:46] unckleg commented on #79
So I should apply for mobile developer department on Sony Dev center ?

[2018-11-16 18:01] Tustin commented on #79
I don't think they'll give them to unlicensed developers. The ones I use are for the PlayStation mobile app and I got them by reversing their API. They didn't give them to me specifically.

[2018-11-16 18:34] unckleg commented on #79
Thanks for the answer, the only thing I have to do now is to apply for license with client company.

[2018-11-16 18:34] #79 closed

[2018-12-02 17:01] Reuns opened #80 "First login doesn't work : Access Denied"
Hi,
I'm new here and I try to authenticate. Using this wonderful guide, I can't even pass the first login.
Is there something wrong ? Or do I have miss something ?

Thanks for your help

Fatal error: Uncaught GuzzleHttp\Exception\ClientException: Client error: `POST https://auth.api.sonyentertainmentnetwork.com/2.0/ssocookie` resulted in a `403 Forbidden` response: <HTML><HEAD> <TITLE>Access Denie

[2018-12-11 14:46] mohamadnorouzi20 opened #81 "Documentation issue in PlayStation\Client::user()"
The return type in phpdoc is `void` which is obviously wrong.

[2018-12-18 03:50] 731288559 opened #82 "403 Forbidden error"
Hi, I'm new here.
I got 403 Forbidden error when use the api in function games(), but I can get the user's information exactly.
Does anyone know why? Thanks.

[2019-02-06 11:45] fabriciols opened #83 "Only ps4 games?"
The project is working really well, but I found an "issue".
I can get a list of games of any user I want, but it only shows ps4 games... ps3 and vita are missing.
This is correct ? or am I doing something wrong?

[2019-02-24 14:20] TosMatrix3 commented on #83
Sale issue here. Someone find for ps3 and vita games ?

[2019-03-28 16:11] awaldron commented on #80
Getting the same error.

[2019-04-16 22:03] mhdiDev commented on #74
@pacMakaveli are u talking about psn-php version? i got that same fatal error, help plz

[2019-04-17 04:32] pacMakaveli commented on #74
I'm talking about your PHP version.

[2019-04-18 22:16] mhdiDev commented on #74
Thanks. it works.
Acually, i want to develop a web app that can handle scores of fifa 19 online games. do u think this api can help me do that?

[2019-04-19 12:18] pacMakaveli commented on #74
No. This is for communicating with the PSN API. If you want to get a user' games, trophies and completion percentage for a given PSN game, then this is for you.
What you need has nothing to do with this gem.

[2019-04-29 18:38] Hey opened #87 "Get current playing game"
How do you get the current playing game?

[2019-05-20 19:25] LeroyDoornebal commented on #82
I experience the same issue. Getting the users information is working, but getting the games is not.

[2019-05-21 07:08] Argosth opened #88 "How To Access The PlayStation Object Attributes?"
Hi, I'm using now the new version, but now, I can't access some information contained in the stdClass Object, for example:

`PlayStation\Api\Game Object ( [titleId:PlayStation\Api\Game:private] => CUSA03842_00 [npCommunicationId:PlayStation\Api\Game:private] => NPWR10751_00 [game:PlayStation\Api\Game:private] => stdClass Object ( [npCommunicationId] => NPWR10751_00 [trophyTitleName] => Resident Ev

[2019-05-22 06:25] Argosth commented on #88
Problem solved, trophyInfo() was the class that has the information.

Thank you.

[2019-05-22 09:23] #88 closed

[2019-05-22 11:36] Argosth opened #93 "Notice: Trying to get property 'earned' of non-object in"
Hi, good morning, I found this problem when I use the API.

I got the token I can consult almost all the information, when I put the next code:

`$games = $client->user('Argosth')->games();`

I got this result:

`Resident Evil 7: Biohazard has 38 trophies
Notice: Undefined property: stdClass::$comparedUser in C:\xampp\htdocs\Argosth\vendor\tustin\psn-php\src\Api\Trophy.php on line 101

Notice: Try

[2019-05-22 19:49] mrcrazylee commented on #93
I think I ran into the same issue as well. I will try to investigate in the coming days/weekend as well. I'll share what I've found when I have something to share. Maybe a bit off topic, as this repo is a php wrapper for the sony playstation api, can I read that API somewhere? Probably you need to have a dev account or something. It would make debugging a bit easier, as it gets easier to check the

[2019-05-23 03:26] jbdabes commented on #93
Unfortunately there is (currently) no public API. This library uses the "private" API that Sony has in place for its own apps and such, and therefore there is no documentation.

[2019-05-23 05:23] mrcrazylee commented on #93
@jbdabes Thanks for the reply. Will do it the old fashioned way then :).

[2019-05-23 08:57] Argosth commented on #93
My question is, why is the `comparedUser` property giving errors?

I also realise that using other options, I get 36 results, so I think that's the maximum amount of the array we can get.

I hope you masters can find a solution. Thank you.

[2019-05-24 02:23] #75 closed

[2019-05-24 02:41] #81 closed

[2019-05-24 03:24] #74 closed

[2019-05-24 03:32] jbdabes commented on #93
Can you share your code with me so I can test this for myself? Using the code you provided works fine on my dev environment (PHP 7.3).

[2019-05-24 04:30] jbdabes commented on #93
Alright, so with some digging I've discovered this is limited to specific games (in the given example, it's The Evil Within 2). I'm not sure why but it doesn't seem to return the comparing user. I've added a temp fix which for now will return false for any games that does not pass this data back and have notified Tustin about looking into this specific issue a little deeper.

[2019-05-24 04:33] jbdabes commented on #83
I believe this only works for PS4 games.

[2019-05-24 04:36] Argosth commented on #93
That was so weird too, the thing is, I have played The Evil With In 2, but I don't have the game or trophies loaded to psn, I have the Evil Within the  first delivered complete 100%.

How can I apply the fix JB?

Thank you.

Obtener Outlook para Android<https://aka.ms/ghei36>

________________________________
From: JB <notifications@github.com>
Sent: Friday, May 24, 2019 7:30:52 AM
To: Tustin/psn-

[2019-05-24 04:36] jbdabes commented on #82
I think this might be an issue with how you're logging in - did you update your code to use a refresh token instead of re-using the token/two factor code?

[2019-05-24 05:03] jbdabes commented on #93
Best way right now would be to update your composer.json file to install tustin/psn-php pulling from dev-master:

[code]

I'll tag a new release once we've gotten a few other things fixed - when this is done I'd recommend using `^2.1` instead of `dev-master`.

[2019-05-24 05:06] jbdabes commented on #80
If you're still having this issue, do you mind sharing a copy of your code?

I'll close this issue in a week otherwise.

[2019-05-24 05:09] #54 closed

[2019-05-24 05:10] #50 closed

[2019-05-24 05:11] #63 closed

[2019-05-24 05:11] #73 closed

[2019-05-24 05:12] #57 closed

[2019-05-24 05:15] #66 closed

[2019-05-24 05:17] jbdabes commented on #49
A late reply is better than never. You can do this by looping through all the messages and using `fputcsv()`.

[2019-05-24 05:17] #49 closed

[2019-05-24 12:05] Argosth commented on #93
Hi again, I've been doing some test to see which functions are not working properly, and at this moment, this is my experience:

game.php errors:
	- Platinum earned() return nothing and stops the api.
	- User(): same problem.

trophyGroup errors:
	- Progress(): Fatal error: Uncaught TypeError: Return value of PlayStation\Api\TrophyGroup::progress() must be of the type int, null returned.
	- lastEa

[2019-05-24 14:46] mrcrazylee commented on #93
@Argosth I've walked into these errors as well. Currently working on a PR to change the game class a bit. I hope to have a pull request by tomorrow.

In my PR i'll be solely focussing on the errors you describe in `game.php`.

[2019-05-24 16:47] Tustin commented on #93
@mrcrazylee Appreciate it. I've been trying to get back to working on this library and realized I did some pretty dumb things when I rewrote this lol. I was trying to keep it as simple as possible by having some methods do multiple things which isn't really a good idea.

As for this problem, if that PR doesn't solve it I can take a look at this. I don't remember ever encountering a problem like th

[2019-05-24 18:56] mrcrazylee commented on #93
Sure thing. First things first, I love that you have taken the time to setup this library! And I am by no means a pro at this, I am just trying to contribute where I can. As I am just a frontender by nature, please also look at my PR's with a sceptical eye. Believe you me, a couple of years ago I would probably have done the same. Again credits for putting your time and effort in this.

I can defi

[2019-05-24 21:16] jbdabes commented on #93
When @Tustin finishes up writing tests it should make spotting issues like this a lot easier!

[2019-05-26 10:30] mrcrazylee commented on #93
@Argosth The problem you encounter should be solved with this PR: https://github.com/Tustin/psn-php/pull/94

[2019-05-27 08:07] Argosth commented on #93
@mrcrazylee Thank you very much, I've applied the modifications, it seems that now there are less errors.

I still have the problem of only 15 games in total, and "The Evil Within 2" a game that I don't have but maybe is a problem of my profile perhaps.

Other errors I found are located in Trophy.php and TrophyGroup.php, related with the function lastEarnedDate() and earnedDate() for example:

`No

[2019-05-30 08:30] Argosth commented on #93
Good morning, I want to say that I'm willing to help in this protect, but the thing is, I'm not a PHP expert, but I want to help, is there a way in what I can be useful?

Thank you.

[2019-05-31 07:08] slime7 opened #95 "[Request] Keep 'totalResults' of $user->friends()"
It's useful for pagination.
![2](https://user-images.githubusercontent.com/8674371/58688022-e244f500-83b5-11e9-8ebd-9cd89b73118f.png)

[2019-06-16 16:50] OliviaB14 opened #96 "All games"
Hi,

Is there a way to get a list of all games from Playstation, not user's related games?

Thanks

[2019-06-18 06:39] Argosth commented on #96
They are working to enhance the API, so we have to be patience.

[2019-06-18 21:20] Tustin commented on #96
I don't think so. You're better off scraping the PSN store if you want to do something like that.

[2019-06-24 07:07] Ragowit opened #97 "User ID number"
Since you can change your PSN Online ID these days, I assume there should be an ID number you can get now.

[2019-06-24 10:09] jbdabes commented on #97
You can call the following on a user object to retrieve the account ID.

[code]

[2019-06-24 10:23] Ragowit commented on #97
Aha, it wasn't documented in https://tusticles.com/psn-php/user_properties.html#user-properties

[2019-06-24 19:14] #96 closed

[2019-06-26 03:34] #97 closed

[2019-06-26 03:35] jbdabes commented on #97
Tagging @Tustin so he can add this to the documentation.

[2019-06-26 14:49] Tustin commented on #97
`account()` doesn't exist in the current release of the library; this is something I'll have in the next release. For now, use `$user->info()->accountId;`

[2019-06-29 14:17] itnicks opened #98 "Class 'PlayStation\Client' not found"
I am getting this error when I try to invoke the object `$client = new Client();`

This is how I am referencing the vendor/autoload.php
`require(plugin_dir_path(__FILE__).'psn-api/vendor/autoload.php');`

This is how calling the namespace
`use PlayStation\Client;`

This is my DIR structure

psn-api
    -- vendor
             -- autoload.php
             -- composer
                           -- Cl

[2019-07-08 10:36] OliviaB14 opened #99 "Invalid refresh Token"
Hi,

I'm directly using the files from the git repository in a Laravel project. But I'm getting a "invalid refresh token", as it returns null instead of the expected string. Does anybody have an idea why is that?
I normally save the tokens in a mysql database with following columns : { id, psn_token, refresh_token, timestamps }

[code]

[2019-07-08 14:27] jbdabes commented on #98
Do you have a repo I could have a look at to see if I can spot the issue?

[2019-07-08 14:32] jbdabes commented on #99
As far as I recall if the token hasn't been used recently it expires, so you will need to re-auth. This is a limitation of using a private API as Sony does not allow access to their API normally, and is therefore something we as of yet cannot change about the library unfortunately.

For a workaround, it may be worth adding a scheduled task to the Laravel project that just calls the API once an hou

[2019-07-08 15:03] Tustin commented on #99
Correct. If you don't use the token often enough or you don't update the refresh token after some time, it will expire. I have an idea that I'm going to try implementing into the new version of the library that will automate this process for you (if desired).

[2019-07-08 19:14] OliviaB14 commented on #99
Okay my bad ! I was in fact trying to get the refresh token before I log in, so it returned null. Thank you for your answers and interesting way of improve.

[2019-07-08 19:14] #99 closed

[2019-07-22 02:02] SsJVasto commented on #98
It seems the layout and namespaces were changed.  The base namespace is not PSN (instead of PlayStation), and the "Client" class no longer exists.

There is a sample in the composer to create a login:

[code]

but that isn't working, it gives me an error:

[code]

So I think the API is just broken...

[2019-07-22 02:14] SsJVasto opened #100 "Failed to obtain X-NP-GRANT-CODE"
I got this error when trying to connect to the API using the Apache2 instance on my RaspberryPi:
[code]

In order to get more info, I added a trace (`print_r($response["headers"]);`) at line 107 of the `Auth.php` page, and got this information:
[code]

I guess the part that made me post is here:
`[p3p] => CP="This site does not have a P3P policy."`
Does that mean I'm not whitelisted to use the PS4

[2019-07-25 19:59] jbdabes commented on #100
Please provide a copy of the code so I can look into this a little more. If it’s a private repo, feel free to invite me to it.

[2019-08-08 06:14] jobsfan opened #101 "500 Internal Server Error response"
{"message":"server_error (317208)","uuid":"15504495-2cdd-4119-85fe-31c9b6054666","data":"oauth:0:null","httpStatus":500, (truncated...)

I alwasy got these exception now! it is very unstable now. Any suggetions about this?

I think the token is ok, because I can get the user infomation since it is also after the authentication.

![11111](https://user-images.githubusercontent.com/3395025/62679367-c

[2019-08-16 08:28] FleyX commented on #93
I had submitted a [pr](https://github.com/Tustin/psn-php/pull/102) to solve it.

[2019-08-24 16:41] phdantu opened #103 "Help"
I'm starting with APIs and web developing, and wonder if anyone could help with a little start application, cause I'm having some difficults with the workflow of this API. And really lost on how to start an application using this.

If anyone could take a little time to help me this. Mostly on how to start.
(I already see the tutorial, but I can't run the application.)

Edit: trying to run the exam

[2019-08-29 10:59] ghost opened #104 "Refresh token unchanged after logging in"
As per the **Future Logins** documentation section, this code should regenerate a new refresh token that can be saved:
[code]

Currently, the value I retrieve from $client->refreshToken() after logging in with a refresh token, is always the same, so I'm unable to save a new one. This leads to the old one expiring and needing to do the First Login process every so often, which is quite frustrating.

[2019-09-02 21:08] vicegold opened #105 "friend() returns true even if only sent a friend request"
I would like to check if I sent a user a friend request. `friendRelation` does this, but is private.
`friend()` returns true even when I only sent the request but the user hasn't accepted yet.

Is this possible somehow?

[2019-09-02 21:24] vicegold commented on #105
Created a pull request for this: https://github.com/Tustin/psn-php/pull/106

[2019-09-02 22:15] johnWinchester01 opened #107 "getting a 400 after first login"
Hello

I tried to login to my account the first login was OK but then after i wanted to login from https://id.sonyentertainmentnetwork.com but i got an error(400) saying my password is locked!

i dunno where the problem is!!!

[2019-09-02 22:52] Tustin commented on #104
Yeah more than likely a PSN issue for some reason. I don't really see anything that could be failing within the library when trying to get a new refresh token. I'll have a look myself and see if I get a new token each time just to make sure they didn't change something.

[2019-09-02 22:57] Tustin commented on #107
Could you post the full error message? I'm not too sure what that means. Some guesses are maybe you tried making too many requests and/or you're using a new account that might be getting flagged.

[2019-09-03 07:21] johnWinchester01 commented on #107
ssocookie returns this(from chrome's network tab)

{"error":"invalid_grant","error_description":"Password expired","error_code":100,"docs":"https://auth.api.sonyentertainmentnetwork.com/docs/","parameters":[]}

i tested it again it happens 2 hours after the first login.
could it be because of some IP thing?
could logging in from different IPs cause this?

[2019-09-06 00:42] #103 closed

[2019-09-16 12:29] Ragowit commented on #98
Having the same problem. Installed via composer:
`composer require tustin/psn-php`

That worked fine and then I just copy & pasted the First Login example (https://tusticles.com/psn-php/first_login.html), but with my login data.
[code]

Result is

[2019-09-17 16:32] xavier7x commented on #98
**SOLVED**
Hello everyone, I was having the same error, but I solved it and discovered the following:

1. The error had to do with my version of php (5.6), when installing via composer,  version 1.2 of the api was installed, which was the most current based on my version of php.

2. I updated my version of php to 7.2 and noticed that when I used composer again to install the api, it was updated to

[2019-09-17 19:47] Ragowit commented on #98
Thank you @xavier7x!

Your text got me in the right direction. On my host settings on their webpage, I had already PHP 7.2 selected. So I ran `php -v` on my SSH and sure enough, PHP 5.6 was the answer I got. So I followed this guide https://www.infomaniak.com/en/support/faq/2108/configuringchanging-the-php-version-used-in-ssh (had to change the PATH to where my php72 folder was) to change the PHP

[2019-09-17 19:51] Ragowit commented on #93
Getting this error as well. Does the upcoming 2.2 or the PR solve the problem? And if so, when will it become available?

[2019-09-18 10:35] Ragowit commented on #83
This really needs an answer, since it's quite an important feature if you're using this project to fetch games/trophies.

My testing only shows PS4 games as well. Bug, or intended?

[2019-09-19 06:20] Krisseck commented on #93
I don't know much about this library or PSN, but I got it working with this fix:

in `src/Api/Trophy.php`, there is function like this:

[code]

I replaced it with this function:

[code]
So better checking if `comparedUser` is set or not

[2019-09-19 21:03] xavier7x commented on #98
@Ragowit great friend

[2019-09-21 00:08] stipey commented on #98
Hey folks,

I struggled with the same issue regarding Client and I'm happy to see it solved here. I was on 7.0, but have now tried on 7.2 and 7.3, and I still get v1.2 when I install it. I've tried clearing composer's cache as well, but that didn't help.

I'm not overly familiar with composer, so any tip is greatly appreciated.

Thanks!

[2019-09-23 19:07] xavier7x commented on #83
@Tustin please any update for this question, is very important for all projects

[2019-09-23 22:00] johnnyq1987 commented on #83
https://github.com/FriendsOfGalaxy/galaxy-integration-psn/issues/1

The endpoint  https://gamelist.api.playstation.com/v1/users/me/titles API returns only PS4 titles anyway.

[2019-09-24 14:45] Strategeru commented on #83
You only get PS4 because it is default behavior.  You need to modify code, and add extra platforms.

Find function **trophies**, find there fields definition and add “**'platform' => 'PS3,PSVITA,PS4',**”.

That should that returning not only PS4, but also PS3 and PS Vita games.

[2019-09-24 15:15] Ragowit commented on #83
I went to https://github.com/Tustin/psn-php/blob/ddb955847a884884336a7e640987c946b999adc1/src/Api/User.php#L300 and added `'platform' => 'PS3,PSVITA,PS4',`. Still only got PS4 games.

[2019-09-24 16:07] Tustin commented on #83
Sorry for the late reply. As far as I'm aware, this endpoint only returns PS4 games. For example: when using the PSN app, when you view someones profile and go to the Games tab, this will only display PS4 games. Not too sure why Sony has it like this but I don't think there's much you can do. I guess an alternative would be to get the user's trophies, which would display PS4/PS3/Vita games.

[2019-09-25 07:16] Strategeru commented on #83
Yes, checked the endpoint  https://gamelist.api.playstation.com/v1/users/me/titles returns only PS4 for most parts, but there is endpoint https://gb-tpy.np.community.playstation.net/trophy/v1/trophyTitles with is able to return PS3 and PS Vita games.

[2019-10-28 10:40] johnWinchester01 opened #108 "security bug at sony's login system"
There's a security bug at psn's login system that easily allows one to bypass the security system (recaptcha, sensor system, and cookies system).
can you point me to the right direction on how to public this bug?

[2019-10-30 10:55] Ro007ny commented on #108
Let me see if I get it right....you want to report Sony about a bug we could use?

[2019-10-30 11:04] johnWinchester01 commented on #108
Why does my idea sounds so stupid when you say it like that?
email me and we'll discuss it.
mr.305theprogrammer@gmail.com

[2019-10-30 11:06] jbdabes commented on #108
if we adapted the bug for use in this library it would likely lead to it being patched within a day or so unfortunately.

[2019-10-30 11:21] Ro007ny commented on #108
Actually it doesn't sound stupid depending on what you're seeing in the end that I don't.
I mean...if it's insecure for them, it's for our apps too.

[2019-11-20 22:55] phdantu opened #110 "Question - Getting the trophies in pt-br"
Does anyone knows how is the string for getting in pt-br?
I tried: ptbr,pt-br,pt_br,br,brazil,bra,ptb. And all of them resulsts in a bad request

[2019-11-28 00:05] Ragowit commented on #83
@Tustin I got an answer from gamstat.com creator, who says the same thing as you. Don't get the user's games, but instead get the user's trophies. https://twitter.com/GamstatC/status/1199745523961548802

How do I achieve this? The User class doesn't have anything like that.

[2019-11-28 08:52] Ragowit commented on #83
Okay, I successfully got information about a user's games across all platform. PR #111

[2019-11-28 10:37] Ragowit opened #112 "Country?"
I'm trying to find a way to get country information about a user. Can't seem to find it. "languagesUsed" is the closest thing I currently find, but that's not what I'm looking for.

[2019-11-28 12:55] Ragowit commented on #112
base64_decode on the npId value of a user turns out with some interesting stuff.

[2019-11-28 12:55] #112 closed

[2019-12-10 12:05] Nalorokk opened #113 "There is no more ticket_uuid in url"
Now it looks like this:

https://id.sonyentertainmentnetwork.com/signin/?response_type=code&client_id=78420c74-1fdf-4575-b43f-eb94c7d770bf&redirect_uri=https%3A%2F%2Fwww.bungie.net%2Fen%2FUser%2FSignIn%2FPsnid&scope=psn:s2s&request_locale=en_US&state=5201485956691807933&service_entity=urn:service-entity:psn&error=login_required&error_code=4165&error_description=User+is+not+authenticated&no_captcha

[2019-12-10 13:48] vicegold opened #114 "After Sony's login changes first login returns 'invalid_ticket'"
Results in:

```Fatal error: Uncaught GuzzleHttp\Exception\ClientException: Client error: `POST https://auth.api.sonyentertainmentnetwork.com/2.0/ssocookie` resulted in a `400 Bad Request` response: {"error":"invalid_ticket","error_description":"Invalid ticket","error_code":4421,"docs":"https://auth.api.sonyentertainm (truncated...) in /thisisapath/vendor/guzzlehttp/guzzle/src/Exception/RequestExc

[2019-12-10 13:48] vicegold commented on #113
It was replaced by `client_id`, but it's still broken, see #114

[2019-12-11 15:57] johnnyq1987 commented on #113
I got the same client_id=78420c74-1fdf-4575-b43f-eb94c7d770bf

[2019-12-11 16:14] Ragowit commented on #113
The ticket_uuid is still there, it's just more hidden now. Bring up the DevTools (F12 in Chrome), Network tab and look for the "ssocookie". Have this Network tab open before you login.

[2019-12-11 16:15] Ragowit commented on #114
ticket_uuid and client_id is NOT the same thing.

The ticket_uuid is still there, it's just more hidden now. Bring up the DevTools (F12 in Chrome), Network tab and look for the "ssocookie". Have this Network tab open before you login.

[2019-12-11 16:16] vicegold commented on #114
Alright, thank you, I'll this issue then!

[2019-12-11 16:16] #114 closed

[2019-12-11 16:18] Tustin commented on #113
@Ragowit thanks for clearing that up 👍. I'll take a look at this myself and see if I can update the docs with the best way of getting this ticket 😄

[2019-12-11 16:23] Tustin commented on #108
@johnWinchester01 If this bug is still present and you want it fixed, I think the best method would be to submit it to [Sony's Hackerone profile](https://hackerone.com/sony). Like @jbdabes said, we probably wouldn't add something like this to the library due to it most likely being patched quickly, but also because some people might misuse it to create even more spam bots and other nefarious thing

[2019-12-11 16:23] #108 closed

[2019-12-11 17:10] johnnyq1987 commented on #113
@Ragowit Thanks, The ticket_uiid is in sscookie tab Preview. Skol!

[2019-12-12 14:23] Ragowit commented on #93
This was solved with 6a608a3213fe23daa486b9afea1f9016f137766a, correct?

[2019-12-13 13:33] NecronomiconCoding opened #116 "Any way to get just downloadable PS4 Games?"
Hey,
Is there any way to get just the downloadable PS4 games with https://gamelist.api.playstation.com/v1/users/me/titles ?

[2019-12-13 13:35] NecronomiconCoding commented on #82
403 means your IP is banned for API Requests / Akamai

[2019-12-13 15:36] johnWinchester01 commented on #108
It's been fixed.

[2019-12-13 23:07] Ragowit commented on #116
I doubt that Sony keep records on how each game is released.

[2019-12-14 00:00] Tustin commented on #113
I created a basic script that will intercept all xhr requests that Sony makes on the login flow. This script will output the ticket_uuid in the browser console whenever it finds it in the response. From there, you can follow the wiki as before to login with 2FA.

To use, simply open your browser's console. I think most browsers use ctrl + shift + j. In the console, just paste the script below and

[2019-12-14 00:00] #113 closed

[2019-12-17 21:18] Ragowit opened #117 "Rate limit?"
I got

 Does someone know what the rate limit is?

[2019-12-18 15:24] WindHack opened #118 "[FIX] ticket_uuid disappeared from URL"
Hi everyone,

Recently the default URL ( https://www.bungie.net/en/User/SignIn/Psnid?code=000000 ) and some others that connects to PlayStation Network had disappeared the **ticket_uuid** from it.

If you have this problem, then check through **Network** tab from the Brave's **Developers Tools**. You can check it this value in the response from **/ssocookie** ):

![Network Brave](https://user-imag

[2019-12-18 15:32] Ragowit commented on #118
Duplicate of #113, @Tustin just needs to update the docs to reflect this change (as mentioned in 113).

But this was a nice and easy explanation and images with where to look. Thank you.

[2019-12-18 16:51] #118 closed

[2019-12-18 16:53] Tustin commented on #117
Not too sure what the exact rate limit is. How many requests did you try sending before you got limited? I'd imagine the rate limit isn't very lenient because there's not too much you could do in the PS App that would hit that limit normally and I know Sony is pretty strict on trying to stop spam bots and the like.

[2019-12-18 17:02] Tustin commented on #118
Updated the docs to reflect the new ticket_uuid method in 0a7beab369b63dd45fe0f600c2655abd9df281d4. It might take a little bit for GitHub to rebuild the docs.

[2019-12-18 18:09] Ragowit commented on #117
I was trying to get all trophies for all my games. One call for my user, another call to get my games, another call for each "group" (base game/dlc) for the game and then a final call for that groups trophies.

Many calls along the way. Currently I have a counter for each call I make, and every 10th so do I wait 1 second. Seems to be okay.

[2019-12-18 19:51] Strategeru commented on #117
Limit is 300 requests in 600 seconds per user for each request type (trophyTitles, profile and so on).

There is also limit on how many request can be send from one IP, but I don’t know what it is and what reset time there.

[2019-12-19 12:29] Strategeru commented on #107
If you login to many times in small time window with standard login form without use of “Refresh token”. It will lock your password and require you to reset password via email. Quite possible that there is some other behaviors that can trigger such response from login page.

[2019-12-22 12:22] Ragowit commented on #117
Maybe implement this rate limitations to the project?

https://github.com/hamburgscleanest/guzzle-advanced-throttle seems to use Guzzle which this project already uses.

[2019-12-22 17:57] Tustin commented on #117
Sounds good. I have middleware all setup properly on the rewrite branch so I can easily wire it up.

[2020-01-10 19:10] johnWinchester01 opened #119 "Did it just stop working?"
Hi
now Im getting a 403 when submitting two_step code. what happened?

[2020-01-10 19:32] Ragowit commented on #119
Seems to work just fine for me.

[2020-01-10 19:43] johnWinchester01 commented on #119
I Checked Im sure it's giving a 403:
<HTML><HEAD>
<TITLE>Access Denied</TITLE>
</HEAD><BODY>
<H1>Access Denied</H1>

You don't have permission to access "http&#58;&#47;&#47;auth&#46;api&#46;sonyentertainmentnetwork&#46;com&#47;2&#46;0&#47;ssocookie" on this server.<P>
Reference&#32;&#35;18&#46;7773cd17&#46;1578685294&#46;331ba8f6
</BODY>
</HTML>

[2020-01-10 19:50] Strategeru commented on #119
To many requests to (auth.api.sonyentertainmentnetwork.com) in giving period of time(around 14 request top) give you IP ban from Sony. It usually lasts for 2 hours.

[2020-01-10 20:56] johnWinchester01 commented on #119
used vpn but still have the error but i just noticed i pasted the following js code to  browser’s developer console at ssocookie(https://auth.api.sonyentertainmentnetwork.com/2.0/ssocookie) page and it worked fine but then i tried it with no cookie and it failed.

var xmlhttp = new XMLHttpRequest();
xmlhttp.open("POST", "");
xmlhttp.setRequestHeader("Content-Type", "application/json");
xmlhttp.sen

[2020-01-11 00:41] nicoreese opened #120 "Usage without 2FA?"
Is it possible to use this without Two Factor? I‘ve seen sites and apps use the PSN API without it, so I‘m wondering if it’s possible or if I am just unable to get it working.

[2020-01-11 10:56] Ragowit commented on #120
What are these other sites and apps you're talking about?

[2020-01-11 11:46] nicoreese commented on #120
The most recent app I‘ve seen is GameTrack. I was able to link my PSN Account even though it has no 2FA. So the PSN API should allow for this. Is this library capable of logging in with accounts without 2FA?

[2020-01-11 16:59] Tustin commented on #120
@nicoreese Well you can, but it's really only possible if you have a way of embedding the actual PlayStation login form so you can intercept the data it sends/receives. You can see a use-case example here: https://github.com/Tustin/PlayStationDiscord/blob/development/src/app.ts#L89. I'm assuming that's how that app does it because I checked it out and it also displays the login form.

Since there'

[2020-01-11 17:20] sspux commented on #119
Hi,

I have the same mistake. For 2 days I get 403 - Access Denied. IP has been changed quite several times.

[2020-01-11 22:58] weac-nreese commented on #120
Thank you! I've just got it to work in my iOS app using your use-case example.

[2020-01-11 22:59] nicoreese commented on #120
Thanks! I just got it to work in my iOS app using your use-case example.

[2020-01-11 22:59] #120 closed

[2020-01-12 04:46] johnWinchester01 commented on #119
could someone else please check, do we need cookies to send two_step code?
clear your browser's cookies and try manually or use a simple cUrl plz.

[2020-01-12 11:18] johnWinchester01 commented on #119
and this is what I get when i run the first login example:

Fatal error: Uncaught GuzzleHttp\Exception\ClientException: Client error: `POST https://auth.api.sonyentertainmentnetwork.com/2.0/ssocookie` resulted in a `403 Forbidden` response: <HTML><HEAD> <TITLE>Access Denied</TITLE> </HEAD><BODY> <H1>Access Denied</H1> You don't have permission to access "ht (truncated...) in D:\Apps\XAMPP\htdocs\v

[2020-01-12 21:16] XisXis commented on #119
Having exactly the same error:

"<HTML><HEAD>
<TITLE>Access Denied</TITLE>
</HEAD><BODY>
<H1>Access Denied</H1>

You don't have permission to access "http&#58;&#47;&#47;auth&#46;api&#46;sonyentertainmentnetwork&#46;com&#47;2&#46;0&#47;ssocookie" on this server.<P>
Reference&#32;&#35;18&#46;1e497b5c&#46;1578863126&#46;10ea1a79
</BODY>
</HTML>
"

Any news on this?

[2020-01-12 21:34] johnWinchester01 commented on #119
This is the end. apparently Sony has activated cookie verification on two_step authentication_type parameter for login as well as password autentication_type parameter. and there is nothing we can do about it. and as far as i know the only way to login is now through the website which is no good for us cuz of re-captcha and cookies.
well I had a nice run with this library and my short life psn api

[2020-01-12 21:44] XisXis commented on #119
We have circunvented these Sony restrictions over the years. We may still be able to do it.

I'm going to continue the research. If someone finds something first, just let us know.

[2020-01-13 16:47] Tustin commented on #119
Thanks for the heads up. I will take a look at this and see if I can figure out a solution 😄

[2020-01-13 21:04] Tustin commented on #119
A quick update: It seems by sending a proper User-Agent, Referer and Origin you are able to "bypass" the Access Denied page but I'm still getting a 403 with a correct ticket and code. I'll keep testing to see if it is in fact checking for the correct cookies.

For now, you can test it yourself by modifying your Client instantiation to include the headers in every request:
[code]

[2020-01-13 21:12] XisXis commented on #119
Great find there.

I tested it as well and i can confirm that i do not  receive the Access Denied webpage anymore.

The 403 still remains and i'm also trying to find a way to bypass it.

[2020-01-13 21:14] Tustin commented on #119
@XisXis Thanks for confirming 👍 . Right now I'm just writing some quick javascript to output all the cookies the page is using whenever it sends the initial request for the ticket_uuid code so I can just include them when I send the login request with the library. Hopefully that'll confirm whether or not they are checking for cookies.

[2020-01-13 21:15] johnWinchester01 commented on #119
Sorry to be the one who breaks it to you but I played with headers and requests for a long time and nothing happened. All authentication_types need cookie now( e.g password_gating, rba_code, ...)

[2020-01-13 21:16] johnWinchester01 commented on #119
After 4 times cookies expire.

[2020-01-14 09:38] atrigub commented on #119
I think, quick solution to grab the token, skip the step with getting npsso and gets it from the browser, after that you can use npsso to get access and refresh token.

[2020-01-14 18:38] Tustin commented on #119
@atrigub Thanks for the tip! I implement a `loginWithNpsso` function and it seems to be working fine now. I have modified the javascript that used to output the ticket_uuid to now output the npsso instead. Therefore, you technically no longer need 2FA on the account to login 😄

[2020-01-14 18:45] Tustin commented on #119
I drafted a new release so this new code should now be up on Composer. Feel free to update and try the new method to see if it works for you all.

[2020-01-14 19:06] XisXis commented on #119
Thank you.

I'm going to try and incorporate that in my project and see if that works out.

I will let you know the outcome.

Thanks once more.

[2020-01-14 19:34] sspux commented on #119
Thanks in atrigub and Tustin for the quick and good work.

[2020-01-14 23:17] XisXis commented on #119
@Tustin I can confirm that this method works, awesome!

The only downside is that it relies on a browser login, instead of us being able to fully login using only code. I'm working now on trying to get the npsso through code, instead of via the browser intercept method.

Great work anyway!!

[2020-01-14 23:50] Tustin commented on #119
@XisXis Thanks for confirming 😄. Good luck with finding a fully autonomous method; that's been a goal of mine for a while (without using some captcha solver). I'll go ahead and close this issue for now since it's confirmed working but if you manage to find a better login method you'd like to share, feel free to open another issue or even a pull request!

[2020-01-14 23:50] #119 closed

[2020-01-16 04:14] #116 closed

[2020-01-17 10:38] Sotam commented on #104
I'm not sure if this is a PSN issue after all. I saw that the Android PSN app uses a different ClientId, ClientSecret and Scope. Perhaps that's the problem? I'll try to post the changes later today.

[2020-01-18 01:10] Tustin commented on #104
Yea, Sony has some server checks to prevent sniffing on their website (not entirely sure how this works, I've never seen it before and I haven't looked into it). As for the client ids and stuff, I don't think that _really_ matters. I think for this project I've switched between the app client id and the remote play client id without many issues. The only problem I've encountered is with some scope

[2020-01-21 11:29] atrigub commented on #104
If you want to change token, you need to login with npsso, and you will get every time new refresh token. But keep in mind npsso also has expired date.

[2020-01-21 12:00] Sotam commented on #104
I haven't had the time to test it properly, only used Postman so far and using a new combination of clientid, secret and scope gives me a **new refresh** token everytime when I refresh the access token (oauth/token with grant_type refresh_token). Npsso is only needed once, to get the access/refresh token. Used info:

- duid: 00000007000801a8000000000000008241fdf6ab09ba863a20202020476f6f676c653a416

[2020-02-02 22:14] #100 closed

[2020-02-02 22:14] Tustin commented on #95
Implemented in v3.0.0 by utilizing Iterators for results that can be paginated.

[2020-02-02 22:14] #95 closed

[2020-02-02 22:16] #105 closed

[2020-02-02 22:17] Tustin commented on #101
Going to close this for now because a 500 error is something on Sony's end. It _could_ be due to some parameters passed to their API but it seems unlikely. However, I will test for this when I implement this feature in v3.0.0 to see if it still happens.

[2020-02-02 22:17] #101 closed

[2020-02-02 22:18] #80 closed

[2020-02-02 22:21] #98 closed

[2020-02-02 22:44] Tustin commented on #119
Coming back to this with an update. I did a bit of messing around with this the other day and figured out exactly what's going on here. Sony makes use of Akamai's anti-bot script (for example, Nike uses this as well) to thwart bots. The script generates `sensor_data` for mostly every action you make on a page (like focusing an element) along with some other browser info and sends it off to an endp

[2020-02-03 07:50] Ragowit commented on #101
I always get 500 on players with an extremely large amount of games. You can test this with the users Platasium, Platastical and ShadowsGodly. They are hackers and not worth getting, but they result in 500 every time.

Source where I got these high PSN level players: http://gamstat.com/news/leaderboard/

[2020-02-03 08:37] swoker commented on #117
Does anyone know how many PSN messages I can send before I get a "rate limit exceeded" and has further info on how to prevent that?  (Yes, it's a bot. No, it's not spam...)

I don't have exact stats, but it seems to be roughly 400 messages before you're blocked for 24 hours. Other requests work fine in the meantime.
The block is not for the user itself, it can still send messages. It seems to be I

[2020-02-03 11:18] johnWinchester01 commented on #119
I noticed that too. The data includes almost everything about ur visit to the page such as user agent, date and time, location of ur laat click, time stamp, etc.but It can be reversed and i'd be happy to help. I suggest opening a new repo for it.

[2020-02-03 11:48] hadouken111 opened #121 "not found npsso"
hello, I'm doing my first Login, but I don't really understand how I should do it, where I should copy the javascript code? I added it in the script tags but it doesn't work after login I can't find the NPSSO, can you help me please
@Tustin

[2020-02-03 15:03] Ragowit commented on #121
It says what to do in the first steps.
![image](https://user-images.githubusercontent.com/31790/73663878-b1346700-469e-11ea-81f4-4f6db140ebbc.png)

This is how it looks like in Google Chrome:
![image](https://user-images.githubusercontent.com/31790/73663805-8fd37b00-469e-11ea-947c-476b6045d90d.png)

[2020-02-03 17:32] Tustin commented on #121
Thanks @Ragowit! Yes, just follow the exact steps in the doc and you should get that console to pop up. You can paste the Javascript code in that console and click enter. Then all you need to do is login to your PSN account in the regular login window and once the login finishes, the npsso code you need will be in that console window in the same spot you entered the Javascript.

[2020-02-03 17:32] #121 closed

[2020-02-03 17:51] Tustin commented on #117
@swoker I'll try to test this out for you and try to verify the exact number of requests per hour/day. I'd imagine it's not too different than what you found since Sony seems to be actively trying to prevent message spam.

[2020-02-04 06:37] GarrettAlbright commented on #54
@krazyjakee I'm also running into this "Needs to upgrade" brick wall. Were you ever able to figure out a solution?

[2020-02-04 11:19] Ragowit commented on #54
@GarrettAlbright I believe one cause of this can be that you need to accept some new agreement on the account. Have you tried to login with the account you're using on https://my.playstation.com and see if you encounter a new agreement to accept?

[2020-02-05 04:50] GarrettAlbright commented on #54
@Ragowit This is a brand new account, so it's unlikely that there's some new ToS or something in just the couple days since I created the account. That said, I did try logging in manually to see if there was something else to accept, but the system seems to be down currently - I can't successfully log in regardless of browser or ad blocker status. Will try again later.

In the meantime, my client

[2020-02-05 08:16] Ragowit commented on #54
@GarrettAlbright I'm not paying for PS+ on my account, so that shouldn't be it.

[2020-02-06 06:17] GarrettAlbright commented on #54
Okay, I figured it out. For the interest of others in the future, you need to log in at https://account.sonyentertainmentnetwork.com/ (not my.playstation.com), then click "PSN Profile" in the left sidebar. The right part of the page will tell you "You must update your account to continue." Click the "Next" button right below that. Sony will give you a couple more pages of form fields to fill out.

[2020-02-08 02:29] Tustin opened #123 "psn-php 3.0 - New Stuff"
I wanted to open up an pinned issue to document the changes being made with this library in the new 3.0 branch. This complete rewrite **will** be breaking and you will be required to rewrite your code if you plan on using it. However, I think it's worth it.

### Major things

### Logging in
This isn't actually completely new, but it was a change I recently added due to #119. The old way of logging

[2020-02-08 02:30] Tustin commented on #123
## TODO
You can see the stuff I'm currently working on, still need to work on, or that I've finished in the Projects tab on this repo. It's a nice Trello-like board that I will be updating: https://github.com/Tustin/psn-php/projects/1

[2020-02-09 23:45] #78 closed

[2020-02-09 23:45] #77 closed

[2020-02-09 23:45] #76 closed

[2020-02-09 23:45] #87 closed

[2020-02-09 23:45] #83 closed

[2020-02-12 13:34] vicegold commented on #123
Will you add an option to get a user by their unique account ID? That would allow to fetch name changes.

[2020-02-12 14:46] Ragowit commented on #123
@vicegold You can get name changes right now. If the account name have been changed so will there be a field "currentOnlineId" that is set with the new name.

[2020-02-12 23:02] johnWinchester01 opened #124 "Old authentication method is back"
I can happily confirm that we can use our old method of authentication(two_step) with a little change.
tonight i noticed that two_step authentication type no longer requires logging in from https://id.sonyentertainmentnetwork.com but it still needs cookies.
so with just a simple GET request to ssocookie endpoint and then grabing the response cookies we can still login the old way.

[2020-02-12 23:45] Tustin commented on #124
Interesting. I had actually managed to bypass their anti-bot stuff using a captcha solver and a modified selenium/chrome driver binary. For this to work however, I think you would need to login manually at least once, so you have those cookies saved. They don't seem to run the anti-bot stuff when you are authenticated on the npsso endpoint. I can always add this method back in the next version of

[2020-02-13 15:24] Ragowit commented on #110
Does said trophies exist in pt-br localization in the first place? Try with SingStar on PS4, it should have both Portuguese and Portuguese (Brazil). If it works with SingStar, it might just not exist for the game that @phdantu tried?

[2020-02-15 14:55] NecronomiconCoding commented on #124
Hey Tustin, do you have any Discord? Would love to discuss that matter.

[2020-02-18 14:52] #82 closed

[2020-02-21 10:03] johnWinchester01 commented on #124
would u mind tell us more about that?Im familiar with selenium but what captcha solver service did u use?can it be implemented in c# or anyother language beside php?

[2020-02-23 23:07] Tustin commented on #124
@johnWinchester01 I just used 2Captcha to solve the captcha. However, you'll need to inspect the javascript file that does the client bot checking (it's like the first file that is requested) to figure out what kinds of things they check for (like Selenium-injected js and some other common web-driver things) and get rid of those. The most annoying part is actually getting the login page to use the

[2020-02-24 06:38] Chiggy-Playz opened #125 "Trying to get usernames/onlineId of all the friends of a particular user."
Hello. I am trying to just print the usernames of all the people who are friend of $user. I have obtained the $user and have created an array $friends which contains $user->friends();

when I do count($friends), I get 36 whereas the user has 134 friends. Shouldn't the function return 134  objects of the $user's friends?

[code]

36

[2020-02-24 09:40] Chiggy-Playz commented on #125
If anyone comes here in future, the problem is that the function 36 objects only because that is the default value.
try this out
[code]
"name-onlineID" is how I want them to be sorted
0 is where to start
500 is the limit. It is defined 36 as default so only 36 were shown.

[2020-02-24 09:40] #125 closed

[2020-02-24 13:22] #107 closed

[2020-02-24 15:19] jbdabes commented on #125
If I'm not wrong, it's done like this to avoid potential memory issues. Or perhaps it's just how the API returns results by default. Either way, marking this as wontfix.

[2020-02-27 01:26] AdryanSignor commented on #110
Hi,

@phdantu, try pt-BR, pt-br don't work because this option is case sensitive.

[2020-02-27 02:22] AdryanSignor opened #126 "Method Game::trophies not working"
Hi, I'm getting the following error when calling `PlayStation\Api\Game::trophies` on version 2.1.3:

[code]

[2020-02-27 16:49] bozzit opened #129 "Examples don't really show how to deal with errors"
As per Examples / Documentation

[code]
Would result in:

[code]

The Message is legit, but would be nice if didn't fail but returned errors in the Message Object.

I did the following and thought might help someone.

[code]

If there is a better way, PLEASE let me know.

Thanks for this great project, makes our website so much more user friendly.

Bozz

[2020-03-04 21:13] phdantu commented on #110
Thank you, didn't think that way. I'll try.

[2020-03-05 19:35] cmizzi commented on #30
Sorry to dig up this topic, but there seems to be a relationship between the PS identifier and the region. It turns out that there is a generic endpoint to retrieve the PS identifier for a given region:

[code]

With all the links resolved above (redirection), we can therefore determine that the following URLs are functional:

[code]

So maybe it's a solution (a bit ugly, admittedly, and involving

[2020-03-11 21:55] Reuns opened #130 "Can't see game Bioshock 2 on PS4"
Hi there,
I'm using psn-php for a few days.
It works very well once you've tamed it ^^

Nevertheless, I can't see the game Bioshock 2 on PS4 from the Bioshock HD Collection.
It keeps giving me Bioshock 1 data.
I can see Bioshock Infinite from the same Bioshock HD Collection though.

I'm a bit lost, I don't know why nor how to solve this issue. And I'm afraid that the issue will come back for every

[2020-03-20 17:57] byczuniuniu opened #131 "Multiple profiles at once?"
Hi,

is it possible to obtain multiple profiles in one request? Because I have ~ 2k profiles to fetch. After several queries i see "Rate limit exceeded". Any idea :C ?

[2020-03-20 18:00] Tustin commented on #131
Not sure if it's possible to do that in the same request unfortunately. I don't recall ever seeing that done but it _may_ be possible; I would have to look around.

[2020-03-20 22:11] byczuniuniu commented on #131
Ok i found something :P

[code]

Feel free to use it :P

[2020-03-21 13:07] #131 closed

[2020-03-27 19:53] knuxbbs opened #132 "Game->players() returns no data"
Are we missing some parameter, or the `Game->players()` function doesn't return any data?

[2020-04-02 23:30] mesqueeb opened #133 "PSN endpoints question"
Hi Tustin!
I saw your psn php library, great stuff!!!
I was wondering, do you have any list you could share with me with the PSN endpoints you use in this library?

[2020-04-10 18:08] #117 closed

[2020-04-14 12:05] donzthefonz commented on #103
What was the solution to this? I'm having the same problem.

[2020-04-14 16:14] donzthefonz opened #134 "Refresh Token Deprecated?"
Hi,

I've been able to successfully login ussing the NPSSO token however in the response I do not see any 'refresh_token'?
There is only:
[code]

Is there still a way to login using a refresh token or the likes?

Thanks

[2020-04-15 11:49] donzthefonz opened #135 "Scope / Family Management"
Hi,

I noticed that the SCOPE is set as:
`'kamaji:get_players_met kamaji:get_account_hash kamaji:activity_feed_submit_feed_story kamaji:activity_feed_internal_feed_submit_story kamaji:activity_feed_get_news_feed kamaji:communities kamaji:game_list kamaji:ugc:distributor oauth:manage_device_usercodes psn:sceapp user:account.profile.get user:account.attributes.validate user:account.settings.privacy.

[2020-04-15 12:40] donzthefonz commented on #135
I *think* the scope I need is: oauth:manage_user_auth_sessions

[2020-04-15 14:32] Strategeru commented on #134
Nope, it still there. Just checked and I got refresh_token, but we aware, that using of some scopes will remove refresh_token.
`{"access_token":"00000000-0000-0000-0000-000000000000","token_type":"bearer","refresh_token":"00000000-0000-0000-0000-000000000000","expires_in":3599,"scope":"capone:report_submission kamaji:get_account_hash kamaji:ugc:distributor oauth:manage_device_usercodes psn:sceapp

[2020-04-18 15:25] #130 closed

[2020-04-19 15:46] #123 closed

[2020-04-25 21:15] extream87 commented on #134
Still possible to get npsso?

[2020-04-30 20:42] XisXis commented on #134
Aparently something changed on the login process using npsso. On the last days i am experiencing the following when loggin in: "{"error":"invalid_grant","error_description":"Invalid login","docs":"https://auth.api.sonyentertainmentnetwork.com/docs/","error_code":20}"

I'm trying to figure out what changed in the sony login API.

Any news from any of you?

[2020-05-01 16:00] #124 closed

[2020-05-04 02:54] #126 closed

[2020-05-04 17:29] #129 closed

[2020-05-10 22:35] #110 closed

[2020-06-02 05:39] mesqueeb commented on #133
still wondering!

[2020-06-02 06:02] Ragowit commented on #133
https://github.com/Tustin/psn-php/search?q=ENDPOINT&unscoped_q=ENDPOINT

[2020-06-03 03:20] #132 closed

[2020-06-17 15:53] gnysek opened #136 "Getting all threads for current user"
I've noticed there's no function to get all threads for current user without knowing other users (when we have messages from non-friends for example, so don't know senders).

Seems, that it's simple:
[code]

but this is only a draft, and I didn't yet have time to write it properly to make a pull request.
I also found in another repository, that instead of `@default` they were using `@default,messa

[2020-06-21 13:56] #135 closed

[2020-07-07 15:29] #134 closed

[2020-07-22 08:59] Strategeru opened #137 "JavaScript from First Login page no longer works"
JavaScript from First Login page (https://tusticles.com/psn-php/first_login.html) no longer works. It no longer able to catch npsso, it still there but looks like they changed something.

But I don’t have time et look what they done.

[2020-07-22 19:10] Tustin commented on #137
Thanks -- I'll take a look at this.

[2020-07-22 19:12] Tustin commented on #137
Still works fine for me. What browser are you using? And does your account have 2FA enabled? I tried it on my account that has 2FA enabled and it still shows the npsso in the console.

[2020-07-23 10:57] Strategeru commented on #137
I use Chrome 84.0.4147.89, (64 bit), don't have 2FA on account. Still no npsso in console, even after it shown in network tab. Few weeks back it worked, but when I try to use it yesterday, got nothing.

[2020-07-24 10:32] Strategeru commented on #137
Ok! Found problem, was on my side, all works just fine. Sorry for false alarm :)

[2020-07-24 10:32] #137 closed

[2020-08-08 07:00] #133 closed

[2020-08-17 07:03] Argosth opened #138 "PS3 Games Missing?"
Hello guys, is there a chance to this API to capture also the PS3 games like the previous versions?

[2020-08-23 17:30] #136 closed

[2020-09-15 21:37] pacMakaveli commented on #138
There is indeed. The `gamelist` endpoint seems to only return PS4 titles + other games like ( in my case ) Marvel's Avengers Beta, which is not shown on the `trophyTitles` endpoint which is where you can get the PS3,PS4,PSVITA titles from.

I'm not familiar with this repo, but in my repo to get the ALL titles I use this endpoint instead:

[code]

instead of
[code]

[2020-09-16 07:38] Argosth commented on #138
Hello pacMakveli, I tried to find the ENDPOINT, and the only similar URL I found was in src/Api/Game.php

The code is: `const GAME_ENDPOINT = 'https://gamelist.api.playstation.com/v1/';` line 13.

So if I change that code for:

`https://gb-tpy.np.community.playstation.net/trophy/v1/`

Should I be able to get all platfrom trophies?

Ty for your help.

[2020-09-16 07:47] Ragowit commented on #138
Hello @Argosth. If you fetch games via a user so will you get games from all platforms.

`$games = $client->user('Argosth')->trophyTitles();`

[2020-09-16 08:52] Argosth commented on #138
Wow, I can get all games, but how can I get every trophy of those games?

[2020-09-16 08:55] pacMakaveli commented on #138
https://github.com/Tustin/psn-php/blob/9fc9ba920496b4c588b6fa20fe1bfdf47d3796b3/src/Api/User.php#L321-L336

```$trophies = $client->user('Argosth')->trophies('NPID');```

[2020-09-17 08:08] Argosth commented on #138
Hello everyone, when I tried to use the function:

`$trophies = $client->user($id)->trophies($game->npCommunicationId);`

I receive the next error:

`Fatal error: Uncaught Error: Call to undefined method PlayStation\Api\User::trophies() in C:\xampp\htdocs\Argosth\admin\psn.php:159 Stack trace: #0 {main}`

Thanks for your help guys

[2020-09-17 08:14] Argosth commented on #138
Thank you guys, I didn't have that function `public functions trophies` in my user.php document, why is that possible?

Ty guys and have a nice day.

[2020-09-17 08:15] Ragowit commented on #138
Because you are using an old version. Update to the latest one.

[2020-09-17 08:24] Argosth commented on #138
Weird, I use the next command in Powershell and install the old version, and I'm using PHP 7.1.

`PS C:\xampp\htdocs\Argosth> composer require tustin/psn-php
Using version ^2.1 for tustin/psn-php
./composer.json has been created
Loading composer repositories with package information
Updating dependencies (including require-dev)
Package operations: 11 installs, 0 updates, 0 removals
  - Installing

[2020-09-17 08:32] Ragowit commented on #138
I was uncertain about the required PHP version when I typed my answer. Maybe it requires atleast PHP 7.2?

[2020-09-17 10:04] Ragowit opened #140 "Update guzzle to 7"
Guzzle have released version 7 and I believe this repository can use it without any modification to the code.

https://github.com/guzzle/guzzle

[2020-09-20 18:35] Reuns commented on #138
I have the same issue.
Can't see PS3 trophies, and don't have "public function trophies" in User.php.
Still, I'm using PHP 7.4 So I'm a bit lost :/
Any help would be greatly appreciated... thanks

[2020-09-20 19:44] Argosth commented on #138
What I did was just to manually download de zip files and replace them.

[2020-09-20 19:56] Ragowit commented on #138
@Reuns Are you sure that your terminal (where you run composer) are using PHP 7.4? Try typing `php -v` in your terminal to make sure.

[2020-09-20 19:58] Tustin commented on #140
Thanks, I'll have a look at updating this soon. Need to work on this more before the launch of PS5 anyways so I'll add it to the list 👍

[2020-09-20 20:13] Reuns commented on #138
@Ragowit I guess so
"Running 1.8.6 (2019-06-11 15:03:05) with PHP 7.4.10 on Linux / 3.10.0-962.3.2.lve1.5.31.el7.x86_64"

[2020-09-20 20:41] Ragowit commented on #138
@Reuns Seems fine, although your composer version is old but it shouldn't be the problem. You can run `composer self-update` to update it. What version does tustin/psn-php come up as when you type `composer show -l`? It should be 2.1.3 as the latest version.

[2020-09-20 21:07] Reuns commented on #138
@Ragowit It's a shared hoster so I don't have acces to `self-update`.
tustin/psn-php seems up to date though
"tustin/psn-php                   2.1.3    2.1.3    PHP wrapper for the PlayStation API."

[2020-09-21 06:36] Reuns commented on #138
I'm trying @Argosth method... ^^
Thanks for your time, all of you ;)

[2020-09-21 08:45] Argosth commented on #138
Hello Guys, when I try to get all trophies from and specific group with the next function in User.php

`public function trophies($gameId, $trophyGroupId = 'default') : \stdClass`

But always return me the same Trophy Group (Default) so I changed the method:

`public function trophies($gameId, $trophyGroupId) : \stdClass`

And when I call the function:

`$trophyGroups = $client->user($id)->trophyGr

[2020-09-21 08:56] Ragowit commented on #138
@Argosth You don't need to change the code. That `$trophyGroupId = 'default'` part in `public function trophies($gameId, $trophyGroupId = 'default') : \stdClass` means that if you don't pass in that parameter so will it be set to 'default' as default.

Also, you're talking about the `function trophies` but are calling the `->trophyGroups` function, which is not the same.

Group codes are 'default'

[2020-09-21 10:21] Reuns commented on #138
Hi Ragowit.
Do you have any clue for getting trophygroups list for PS3 games. `->trophyGroups` doesn't works for PS3 games.

[2020-09-21 10:36] Ragowit commented on #138
Some kind of pseudo code:

[code]

[2020-09-21 10:38] Argosth commented on #138
You are right Ragowit, I forgot about that basic programming knowledge.

This is my code:

`$games = $client->user($id)->trophyTitles();`
`foreach ($games->trophyTitles as $game) {`
`      $gameCode = $game->npCommunicationId;`
`      $trophyGroups = $client->user($id)->trophyGroups($gameCode); `
`                foreach ($trophyGroups->trophyGroups as $trophyGroup) { `
`

[2020-09-22 07:19] Reuns commented on #138
* It works *
Thank you guys !
So happy !

[2020-09-25 13:21] fraser1974 opened #141 "Can't Pull Trophy information"
Hey there, I hope this is the proper place to post this (apologies if not). So I've been trying to use this to pull Trophy data on various games. This repository looks like exactly what I need, so many thanks.

However, I'm having issues when I run the examples in the doc. So whether I try to pull trophy data from a user or specific game (just copying and pasting the examples that are given) my ou

[2020-09-25 21:03] Ragowit commented on #141
The examples seems a little bit out of date. The function trophies in TrophyGroup requires a language parameter as well.

https://github.com/Tustin/psn-php/blob/9fc9ba920496b4c588b6fa20fe1bfdf47d3796b3/src/Api/TrophyGroup.php#L107-L134

So it should work if you update your `$trophyGroup->trophies()` to `$trophyGroup->trophies("en")`

[2020-09-25 22:31] fraser1974 commented on #141
Even just making that change you suggested at the end made it work first try. Thank you so much!

[2020-09-27 01:58] #141 closed

[2020-09-27 20:50] fraser1974 opened #142 "Pulling DLC Achievements and Info"
I'm starting to get the hang of all of this. The API is working great so far, so thank you again!

Having a little trouble with this. I am able to pull all the trophies and games for someone however for some of those games that have DLC, DLC Trophies don't show up (but some do). For example, for a game called FlOw the one DLC trophy shows up but for Arkham City (PS3) none of them show up.

So is t

[2020-09-28 06:39] Ragowit commented on #142
At first I thought this was a case of an old PS3 title where Sony hadn't implemented groups to the trophies yet, and thus no clear indication of a DLC among the trophies. However, Batman: Arkham City isn't one of those old PS3 titles.

Here's an example where it should work:
[code]

[2020-09-29 23:32] fraser1974 commented on #142
This worked perfectly! Thank you! I also have a follow-up question if you don't mind.

I see each object is the set of DLC trophies, but is there a way to pull information about those DLCs, (I.E. the names of the DLCs)?

[2020-09-30 11:16] Ragowit commented on #142
The $trophyGroup object have lots more then just $trophyGroup->trophyGroupId.

[code]

[2020-09-30 19:30] fraser1974 commented on #142
Ohhhh, I see. Sorry for all the questions, like I said, I'm new to all of this (PHP and API's in general). Thank you for all your help!

[2020-09-30 19:52] #142 closed

[2020-09-30 20:55] #140 closed

[2020-09-30 20:58] Tustin commented on #138
Yeah sorry about this. Sony basically uses this `gamelist` API to show what games the user has played on their profile. This API only includes PS4 (and PS5 probably) titles and not PS3. PS3 games are only shown in the trophy list, which is the workaround shown by @Ragowit. It's a bit annoying and I remember when I wrote it that way I wasn't very happy with how inconsistent it was.

[2020-10-29 16:40] Octolus commented on #104
I had the same issue where the refresh token expires, as it doesn't generate a new one.

[2020-10-29 17:01] Tustin opened #143 "PSN App 20.9.3 - API changes"
With the release of the brand new PSN app redesign, it's time to talk API. Not only did they revamp the UI, but they also completely revamped the backend API. While it is much nicer, it seems like some things have changed.

To keep this library consistent with these new changes that Sony have put forward, I'm going to implement these new API routes into the library. The reason being is the old API

[2020-11-01 16:30] vicegold opened #144 "[Feature request] Get friend requests of current user"
For a bot, I would like to be able to get a list of incoming friend requests on the currently logged in user so I can deny them.

[2020-11-04 23:13] JardaPazdy opened #145 "Unable to read trophy names in czech language"
Hello,
i am not able to read names of trophies in Czech language. I tried every possibility which I found but i am unable to do so. But some games have Czech translation because some pages has it (eg https://www.exophase.com/game/mafia-definitive-edition-psn/trophies/cs/). Is there possibility to do it somehow? Of course I try to change language in trophies() function to cs, cz, cs_CZ, en_CS etc,

[2020-11-08 22:45] NaMeTaKeN33 commented on #144
https://m.np.playstation.net/api/userProfile/v1/internal/users/me/friends/receivedRequests

[2020-11-08 23:00] NaMeTaKeN33 commented on #145
Doesn't look like that game has a Czech translation. At least not with the new API.

/api/catalog/v2/titles/CUSA19278_00/concept

[image of available translations](https://i.imgur.com/328h5ek.png)

[2020-11-11 02:26] NaMeTaKeN33 opened #146 "Anyone figure out to get the npCommunicationId from a titleID?"
The game->hasTrophies call only works for PS4 titleId's (CUSA) but not for any other such as PPSA (PS5), BLUS (PS3) etc. I have a work around in place that can hold for now that makes it work for multi-platform titles that also released on PS4, but won't work for pure vita, ps3, or ps5 titles.

[2020-11-11 03:20] elfensky commented on #146
You can use $user->trophyTitles() to get a user's games but I haven't been able to figure out how to continue from there, as the $client->games("titleId") function requires a titleId and not an npCommunicationId

[2020-11-11 03:54] NaMeTaKeN33 commented on #146
I'm using trophy titles in other spots but it's a reactionary call meaning it will only work if the user has the title. (Eg a person 'syncing' their trophies) or you have to already know the npcommid. I'm trying to get trophies for games before the games release.

I tried sniffing the new endpoints and headers used in the mobile app but they use SSL pinning which makes it impossible unless you kno

[2020-11-13 19:57] JardaPazdy commented on #146
I have same problem. I am trying for many days to discover, how to modify existing communication to be able to read trophies of PS5 titles, eg. Demon's Souls, but I am unable to do so. But exophase or psnprofiles both have complete trophies even with percentual tracking so there must be some way ...

[2020-11-13 20:02] JardaPazdy commented on #145
Yes i know that in languages there was no czech language and even old PS Store wasnt showing czech language, but game is complete in czech and I see translated trophies.

And in new store, there is czech eventualy mentioned:
https://store.playstation.com/en-cz/product/EP1001-CUSA18100_00-MAFIAONEREMASTER
Chinese (Simplified), Chinese (Traditional), Czech, English, French, German, Italian, Japanese

[2020-11-14 00:26] Pravv commented on #146
https://magiskmanager.com/
https://github.com/ViRb3/magisk-frida
https://blog.nviso.eu/2019/04/02/circumventing-ssl-pinning-in-obfuscated-apps-with-okhttp/
and mitm proxy of your choice :)

[2020-11-14 00:33] NaMeTaKeN33 commented on #146
I've been playing with frida off and on the last few days. I'll check out your links tomorrow. Thanks for the share!

[2020-11-17 15:05] zephyre999 opened #147 "Can i get trophies new playstation 5 games?"
hi,

I have one question

PPSA01340_00

above code is game of ps5

named demon's soul

i used 2.1.3 version api , but can get any trophy

is there some diffrent way to get trophies?

please give me help

[2020-11-19 17:44] TheCatcher99 opened #148 "429 Too Many Requests"
I always only receive
what can I do about it?

 resulted in a `429 Too Many Requests` response: {"error":{"code":2138635,"message":"Rate limit exceeded"}} in src\vendor\guzzlehttp\guzzle\src\Exception\RequestException.php on line 113

[2020-11-19 17:45] NaMeTaKeN33 commented on #148
Don't wrap calls in for each loops if you can avoid it.

[2020-11-19 17:54] TheCatcher99 commented on #148
ok thanks
I had only executed this code
But good to know
https://tusticles.com/psn-php/user_trophies.html

[2020-11-21 19:52] Reuns opened #149 "Unable to get PS5 games with trophyTitles"
Hello,
I'm using ->trophyTitles instead of ->games because I need to get user's PS3 games.
But I don't have access to PS5 games.

Is there any way to get PS5 games with ->trophyTitles ?
Thanks for your help.

[2020-11-21 20:21] Ragowit commented on #147
Version 2.x which uses the old API does not support PS5 titles. Version 3.0 is in the works, https://github.com/Tustin/psn-php/issues/143

[2020-11-21 20:21] Ragowit commented on #149
Version 2.x which uses the old API does not support PS5 titles. Version 3.0 is in the works, see https://github.com/Tustin/psn-php/issues/143

[2020-11-21 20:25] Ragowit commented on #148
You can do about 300 requests during a 15 minute period.
https://andshrew.github.io/PlayStation-Trophies/#/?id=api-rate-limit

[2020-11-21 20:59] Reuns commented on #149
Ok, thank you for this quick reply ;)

[2020-11-21 20:59] #149 closed

[2020-11-21 21:04] Ragowit commented on #149
As a side note, https://my.playstation.com/ still uses the old API as well and does not currently support PS5 titles either. Only the new PS app seems to use the new API at the time of this post.

[2020-11-21 21:17] Reuns commented on #149
I've noticed it either 😂

[2020-12-02 21:37] JardaPazdy commented on #146
Hello. I was able to find some queries used in some pages (list my played games, my purchased games, profile detail of uses, list category on shop, etc), but for now I am unable to find some queries for example - read played games of specified user. Do you have some advice or found something? Thanks

[2020-12-02 22:32] #148 closed

[2020-12-04 14:06] NaMeTaKeN33 commented on #146
Going to close this issue. I have moved everything over to the new api base url.

[2020-12-04 14:06] #146 closed

[2020-12-07 02:35] #138 closed

[2020-12-19 21:01] saudalswity opened #160 "Please help me"
I want you to restore my personal Playstation account, please help me .

[2020-12-19 23:10] NaMeTaKeN33 commented on #160
😂 there is no way to restore a banned, hacked, stolen, etc psn account other than contacting Sony and pleading your case.

This repo is just a way to get a users trophies.

[2020-12-19 23:13] jbdabes commented on #160
No. This library cannot be used for this purpose. If you want to restore your account, as suggested by @NaMeTaKeN33 you should contact Sony.

[2020-12-19 23:14] #160 closed

[2020-12-29 11:43] swoker commented on #147
Did somebody already find the new endpoint and parameters?

[2020-12-29 17:23] dapsych0 commented on #147
The new API's are known, however it takes time to implement them into a new project.

[2020-12-29 23:38] spypix3l commented on #147
Hi!

Apart the ability to get PS5 trophies.
Did you notice any other major improvement on the PSN's API ?

For example, is it quicker to respond ? Does it now allow to read to the
trophies a player earned for a specific game directly, without having to go
through the whole Player history ?

Thanks, looking forward to see your photos library updated !

Jerome ~ Spypixel

Le mar. 29 déc. 2020 à 18:2

[2020-12-30 02:56] NaMeTaKeN33 commented on #147
It's not faster, but not slower either.

Yes. You can read players trophies for a specific game directly provided you know the gameID, however you could do this with the old code on this repo as well.

[2020-12-30 07:19] spypix3l commented on #147
Hi,

This is not what I was understanding.
The documentation shows the need to do a for each on the game list played
by the player, to access to the earned trophies.

I didn't see any method on the User Class to directly get the earned
trophies for a specific game and player.

https://tusticles.com/psn-php/user_trophies.html

Is there another method on the current library than I don't know ?

Than

[2020-12-30 12:48] dapsych0 commented on #147
The docs only show how to go through a player's games then achievements as an example, as long as you know the player id and the trophy title Id you can look the details up directly

[2020-12-30 14:36] NaMeTaKeN33 commented on #147
https://github.com/Tustin/psn-php/issues/138#issuecomment-696033571

[2020-12-30 16:51] dapsych0 commented on #147
The one thing I don't like about the new API is you can no longer get the Trophy Title ID's from the Product ID's directly, it needs to be done with the right profile. Which only matters if you want to get a users playtime off the titles endpoint and link it to the trophies data... but its really just more of an inconvenience more than anything.

[2020-12-31 07:22] sspux commented on #147
can you share this, then we can all help update the project

[2020-12-31 20:35] NaMeTaKeN33 commented on #147
If I'm being 100% honest. I doubt most people will be willing to share. There are only a handful of us that have figured it out completely and because of that, it gives us a slight advantages.

[2020-12-31 21:06] Tustin commented on #147
Hi all. Don't worry, I'll be adding the remaining API stuff to the 3.0 version very soon. I've been a bit busy recently so I just haven't got around to finishing it all.

[2021-01-02 23:08] spypix3l commented on #147
Hello.
I don't want to create a new issue topic just for this question so I ask it here as the topic is a bit similar (ability to get PS5 Games info). With the current library, I just noticed that I can see myself online with a PS VITA, but it seems like I get no information about my activity (like the current titleId). Does the current library support PS VITA like the PS4 or is there differences

[2021-01-03 01:13] NaMeTaKeN33 commented on #147
In a way yes.

If you're trying to search by titleID then no. It will only get CUSA's.

If you're going by communication id (nprwxxxxxxx) then yes. It will work.

[2021-01-03 15:33] fraser1974 commented on #104
Any update with this? I'm having the same issue with longer scripts.

[2021-01-08 11:34] QuestFerret commented on #144
@NaMeTaKeN33 I've attempted to hit that endpoint with an authorised client instance, but I'm getting an "Insufficient scope" error coming back from the API. Do I need to add anything to the SCOPE constant to be able to read it?

[2021-01-19 23:04] #145 closed

[2021-02-05 06:24] isFakeAccount opened #161 "Getting error 429 Too Many Requests on sending message"
Hey, I am getting error 429 too many requests whenever I try to send a message. I am not sure what I am doing wrong. Sorry I am new with PHP as well. Perhaps I am doing something dumb.

Here is my code
[code]

The output I get

[code]

[2021-02-05 07:56] Strategeru commented on #161
See issues https://github.com/Tustin/psn-php/issues/148 for info, API have limits.

[2021-02-05 08:15] Argosth opened #162 "Impossible To Get NPSSO In 2 Steps Login"
Hello there, when I try to get the token id (NPSSO), using the JavaScript during the login, appears the next message:

"GET -> vendor-54a83d2c086d96746a9d88cf54385916.js:6976 GET https://accounts.api.playstation.com/api/v1/countries/ES/subdivisions?locale=es-ES 404 (Not Found)"

Any suggestions?

Thank you.

[2021-02-05 12:52] McRain opened #163 "Request from Trophy.php return 404"
Hi.

I make a request (as in Trophy.php fetch) and set the trophy id at the end (for example 0)
This gives url like

https://m.np.playstation.net/api/trophy/v1/npCommunicationIds/NPWR05906_00/trophyGroups/default/trophies/0?npServiceName=trophy

But the response always return 404

A request without a trophy id and recived returns with a list with an array of trophies, everything works fine https:/

[2021-02-05 17:16] Ragowit commented on #161
As replied above, '429 Too Many Requests' means that you hit the rate limit.

[2021-02-05 17:18] Ragowit commented on #162
I'm not following. Are you trying with an account that have 2-step verification? In that case, try and create a dummy account that doesn't have 2-step verification.

[2021-02-05 17:23] Ragowit commented on #163
To my knowledge there is no API from Sony that grabs one specific trophy. You have to use the second URL and go through the result you get until you find the trophy you're looking for.

[2021-02-05 20:41] isFakeAccount commented on #161
300 every 15 minutes is ~0.333333 so that means on average I have to wait 3 minutes before sending the next request?

[2021-02-05 21:23] Ragowit commented on #161
300 every 15 minutes is 20 per minute, or ~0.3333... per second.

https://andshrew.github.io/PlayStation-Trophies/#/?id=api-rate-limit mentions that there is a header response **X-RateLimit-Next-Available** which tells you exactly when you can make the next call. However, this tool doesn't catch that as far as I'm aware.

[2021-02-05 21:43] isFakeAccount commented on #161
Idk how exactly I am hitting the rate limit with code that is relatively simple. Does it take 20 requests to send a message? I am not doing any sort of loop.

[2021-02-05 22:07] Ragowit commented on #161
Not that I'm aware of, but then again, I have never used this library to send a message. Maybe there's another (lower) rate limit for sending messages?

[2021-02-06 09:39] McRain commented on #163
Thanks for the answer, but I found a format for getting the single trophy 'https://m.np.playstation.net/api/trophy/v1/npCommunicationIds/NPWR05906_00/trophies/5?npServiceName=trophy'.
But the result is:
{
trophyDetail: ''
trophyGroupId: ''
trophyHidden: false
trophyIconUrl: ''
trophyId: 5
trophyName: ''
trophySetVersion: '01 .00 '
trophyType: 'bronze'
}
does not contain the fields I need: 'trophyE

[2021-02-06 18:22] dapsych0 commented on #163
trophyEarnedRate & trophyRare are not available under the general trophy details endpoints, you need to take them from the player list:

https://m.np.playstation.net/api/trophy/v1/users/[userid]/npCommunicationIds/NPWR22204_00/trophyGroups/all/trophies?npServiceName=trophy

[2021-02-07 21:06] bsled96 opened #164 "Getting 403 Forbidden"
So I've been using the API for a while and all of a sudden I started getting the 403 about a week ago. So I tried re-authenticating with a new npsso token. No dice. I waited a few hours tried again, same thing. Then I waited about 2 days and I still get the same error.

The error I get is:

```PHP Fatal error:  Uncaught GuzzleHttp\Exception\ClientException: Client error: `POST https://auth.api.son

[2021-02-08 08:11] Strategeru commented on #164
403 means your IP is banned for API Requests / Akamai.

[2021-02-08 17:33] bsled96 commented on #164
Is there anyway to get around it? I wasn't even requesting all that much to my knowledge. The ban doesn't lift after some period of time?

[2021-02-09 06:45] Strategeru commented on #164
Only way I know – use different IP. Usually such bans lifted after few hours, but some time it can stay active for a week or so. They have 2 limits on API, one on API side, with will give you 429 errors, second on server/ Akamai side, it will ether give you 403 error or connection timeout without any error.

You can check for more details on Akamai IP ban here:
https://github.com/Tustin/psn-php/is

[2021-02-09 11:19] Argosth commented on #162
Nice, I did it, I can get now the NPSSO code, but..., how can I log in with that?, Is the same with like before, using the next code?

`require_once '../vendor/autoload.php';
    use PlayStation\Client;
    $client = new Client();
    $client->loginWithNpsso('code');
    $refreshToken = $client->refreshToken();`

    I used the composer require tustin/psn-php and I have installed the 1.2.1 version

[2021-02-09 11:28] Ragowit commented on #162
2.1.3 is the latest released version to composer. If you get version 1.x so is it probably because you're using an outdated PHP version on your server.

[2021-02-09 11:50] Argosth commented on #162
Mmm, I don't get it, my php version is 8.0.1 and when I execute the CMD with privilegies and write `composer require tustin/psn-php` always throws me the same version 1.2.1, do you know how can I force it? or download the latest version manually?

Thank you very much for your help.

[2021-02-09 11:53] Ragowit commented on #162
Are you sure that composer is using php 8.0.1? `composer -vvv about`

[2021-02-09 11:58] Argosth commented on #162
This is what I get using your command:

-------------------------------------------------------
Reading ./composer.json
Loading config file ./composer.json
Checked CA file C:\xampp\apache\bin\curl-ca-bundle.crt: valid
Executing command (C:\xampp\htdocs\Argosth): git branch -a --no-color --no-abbrev -v
Executing command (C:\xampp\htdocs\Argosth): git describe --exact-match --tags
Executing command

[2021-02-09 12:09] Ragowit commented on #162
No, I'm at loss right now. Downloading the zip-file as you suggested won't probably help, because there are other dependencies that probably will be missing then.

I guess you have already tried `composer update`, but it still is stuck on version 1.2.1?

[2021-02-09 12:19] Argosth commented on #162
That's it, I already did that but same problem, same version is installed :(

And if someone try to share the vendor folder for me? Can works?

[2021-02-09 12:23] Ragowit commented on #162
This one should work: https://php-download.com/package/tustin/psn-php

[2021-02-09 12:38] Argosth commented on #162
Awesome man, you are a master, thank you very much, now I can continue again, thank youuuuuuuuu.

[2021-02-09 12:40] #162 closed

[2021-02-10 17:14] Argosth opened #165 "Trying To Get All Games From TrophyTitles() Or Games()?"
Hello there,

Last year when I was working with the previous API version, I have made it to get all trophies from all platforms using the function:

`$games = $client->user('Argosth')->trophyTitles();`

Someone told me that that function is the only one that allow us to see all platform trophies, but I can't get a property, titleId() so I can use the trophyGroups funciton. I do this to get all gam

[2021-02-11 11:32] Ragowit commented on #165
It's the NPWR... (npCommunicationId) information you want in this case, not the CUSA... information.

[2021-02-11 23:13] felzend opened #166 "Getting 400 after login with Npsso: Client does not have grant type sso_cookie"
`
$psn_client = new Client();
$psn_client->loginWithNpsso('MY TOKEN');
`

**`{"error":"unauthorized_client","error_description":"Client does not have grant type: [\"sso_cookie\"]","docs":"https://auth.api.sonyentertainmentnetwork.com/docs/","error_code":4151}`**

`Client error: `POST https://auth.api.sonyentertainmentnetwork.com/2.0/oauth/token` resulted in a `400 Bad Request` response: {"error":"

[2021-02-12 06:53] Argosth commented on #166
Same here, I thought was a banned IP, but for that case is error 403, not 400, I hope someone can told us something.

[2021-02-12 08:56] joekw commented on #166
I'm seeing this too and suspect they've disabled the old 2.0 API.

[2021-02-12 13:10] felzend commented on #166
Interesting. Thanks.

In which version are those old API endpoints?

[2021-02-13 16:34] that1estonian commented on #166
Same problem 😞

[2021-02-14 12:05] pacMakaveli commented on #166
This method works for me. Sorry I can't help with this repo but by PHP skills are long gone and I'm not familiar with this codebase. If you need some more help give me a shout and I'd be more than happy to help.

https://github.com/games-directory/api-psn/blob/master/lib/play_station_network_api/session.rb

`PlayStationNetworkAPI::Session.new('npsso').authenticate`

[2021-02-15 00:28] isFakeAccount commented on #166
Son of a b.....

[2021-02-18 10:53] kris-dev-cloudwarelab commented on #166
Facing the same issue right now

Looking through Network logs on Chrome/Firefox seems that the old 2.0/auth/token endpoint is still used by PSN, but instead of returning the access token and refresh token, its redirected to the new ca.account.sony.com endpoints, which then execute further

A comperhensive fix would be much appreciated @pacMakaveli code example is a great starting point, but it see

[2021-02-18 11:21] pacMakaveli commented on #166
@kris-dev-cloudwarelab , yes, that endpoint is now used by the new app.
I just added a new comment: https://github.com/games-directory/api-psn/issues/1 with how to obtain the NPSSO which will then give you the `refresh_token` , along with the `access_token` for the Bearer authorization.
Let me know if I can help any further, here, or there.

[2021-02-18 11:47] pacMakaveli opened #167 "Better way of obtaining NPSSO token"
Hey there!

I was looking through the codebase and noticed that on the documentation, for the first login, there's a complicated way of obtaining the npsso token.
Just wanted to make you aware that this can also be obtained through: https://ca.account.sony.com/api/v1/ssocookie

If you're not logged in, it will return:

[code]

As long as you're logged on your play station account, this should retu

[2021-02-18 11:53] Ragowit commented on #167
Version 3 which is under development already does this: https://github.com/Tustin/psn-php/blob/2ffe9fdfbe2cc3a4640d21897945786ecf66f016/src/Client.php#L16-19

[2021-02-18 12:10] pacMakaveli commented on #167
Yes, but that's for authenticating using the npsso. What the URL gives is the value for using `loginWithNpsso(string $npsso)` .
Unless I'm wrong, I don't see a way to obtain this in your codebase.

[2021-02-18 13:28] Alex314Ru commented on #166
@pacMakaveli Thank you for the example! But where did you get the `Authorization` header for the `/authz/v3/oauth/token` request? Is it safe that you share it/to use it?

[2021-02-18 13:49] pacMakaveli commented on #166
@Alex314Ru

[code]

I don't know about safe, to be honest. After all, the API is not a public resource. I got this by reverse-engineering the PlayStation apk and it's being used by the app.

[2021-02-18 14:44] kris-dev-cloudwarelab commented on #166
@pacMakaveli
Lifesaver - I have implemented your app endpoint approach on Node-RED finally and received the access_token and refresh_token

For those who are still struggling, a few of my learnings from @pacMakaveli code and solution

1) The /oauth/v3/authorize endpoint needs the npsso AND ALSO Authorization headers basic token thats provided by @pacMakaveli
Also note that this endpoint will try t

[2021-02-18 15:04] pacMakaveli commented on #166
Awesome to hear that! Great job with the detailed description as well.
As for the `cid` , I can't remember why I even extracted it to be honest. Haven't found a use case for it so far.

For anyone still struggling, this is my Postman Workspace : https://app.getpostman.com/join-team?invite_code=86c018d31448e533a0ea3f3314f7857b&ws=e1f3c6c6-50ab-49d2-9c15-b76caee85ad1 where I test the endpoints.
If I

[2021-02-18 16:32] Tustin commented on #166
Thanks guys -- I'll see if I can update the current version of the library to use the new auth method. I'm still (slowly) working on the new version but I just haven't had much time recently to focus on it. Hopefully I can finish it up soon so we can have the new API all setup when Sony inevitably deprecates the old API.

[2021-02-23 16:16] felzend commented on #166
Guys, I still didn't figure out how to get the Refresh Token after inputing my NPSSO Token.

I tried those examples above using Javascript & Ruby but didn't find a way to make it work.

May you give me a example, please?

[2021-02-23 18:32] pacMakaveli commented on #166
I think @kris-dev-cloudwarelab example is very good. Is there an error you get or..? Take us through your process

[2021-02-23 18:49] felzend commented on #166
@pacMakaveli I sent you an email with a doubt about your Ruby gem, which I'll convert to PHP, but that only worked on Ruby for while.

I tried @kris-dev-cloudwarelab 's example in Postman. Once it works I'll convert to PHP, also..

Here's my example using Postman:

https://www.getpostman.com/collections/31771518d73338dbafc4

Basically the error is this one:

![image](https://user-images.githubuser

[2021-02-23 18:58] pacMakaveli commented on #166
You're trying to GET a request. Change the GET to POST and it should work.

[2021-02-23 19:05] felzend commented on #166
Inside your gem and on his example that should be a GET.

![image](https://user-images.githubusercontent.com/10427954/108894381-f6507180-75f0-11eb-9b13-45a41cedd473.png)

[2021-02-23 19:23] pacMakaveli commented on #166
Sorry, I was looking at the body you were trying to pass and assumed you were trying to POST.
So, first of all, you can't pass a body to a GET request, body is only for POST. For get you need to pass params.

Here's the Postman process.
To get the code:
![image](https://user-images.githubusercontent.com/894272/108895595-b2b73100-760b-11eb-94c9-2049be557e5b.png)
Headers
![image](https://user-images

[2021-02-25 04:13] BenZero opened #168 "API Endpoints, need help"
Hi @ll

I used the now old login method to get new community Posts and replys but since they deactivated login v2 two weeks ago its not working anymore , looks like  the new login method doesnt have the SCOPEs which are needed by the endpoint

The Endpoin i called was COMMUNITIES_URL: "https://communities.api.playstation.com/v1/communities/" the scope which was needed is kamaji:communities but if

[2021-02-25 04:23] Tustin commented on #168
I don't believe it's possible anymore. They removed communities from PS5 and from the latest app so if I had to guess, they probably deprecated the feature.

[2021-02-25 14:59] pacMakaveli commented on #168
The old API is still functional as of right now. You can use the new jwt access_token as your Bearer authorization and it'll return.

[code]

[2021-02-25 18:24] BenZero commented on #168
Firstly thanks for your answers ,
@pacMakaveli  how do you avoid the "Client does not have grant type: ["sso_cookie"]" error on the old login method ?

[2021-02-25 21:06] pacMakaveli commented on #168
Nevermind! Looks like I had my credentials cached and the refresh_token was still valid.
So, as Tustin said, it looks like the old way of authenticating is now gone. You can still get an access_token if you have a refresh_token. In my case, I was storing this and it's valid, not sure for how long though!

@BenZero let me know what kind of access you need from the old API and I'll try to help you t

[2021-02-27 13:20] JardaPazdy commented on #166
Hello,
using same way I started to receiving forbidden this morning :-/

403 Forbidden` response: <HTML><HEAD> <TITLE>Access Denied</TITLE> </HEAD><BODY> <H1>Access Denied</H1> You don't have permission to access

Anyone else same problem?
Thanks

[2021-02-27 22:46] Strategeru commented on #166
403 means your IP is banned for API Requests / Akamai.

[2021-02-28 09:40] JardaPazdy commented on #166
Yes I found it too :( Probably too much request at short time ... I have to user proxy server now, and it works. Hope ban is only temporary.

[2021-03-03 22:20] isFakeAccount commented on #161
My guess is that it sends this error whenever you try to send a message to someone who is not on your friend's list. I was able to send multiple messages to friends back to back. But it seems whenever I send someone who is not a friend I get this error.

[2021-03-03 22:20] #161 closed

[2021-03-04 07:27] Ragowit commented on #168
PS4 Firmware 8.50 is around the corner, public beta is out and it will remove communities from PS4 as well.

https://mp1st.com/news/ps4-beta-update-8-50-rolling-out-for-testers-removes-psn-communities

[2021-03-04 07:28] isFakeAccount opened #169 "Getting Error 429 when creating message thread/group both using library and PSN website"
The endpoint `https://us-gmsg.np.community.playstation.net/groupMessaging/v1` does not work when creating new message threads/groups and it always returns Error 429.

Interestingly this also happens on the PSN official website. If I try to send a message to someone new the website shows me an error `Message not sent`'

![image](https://user-images.githubusercontent.com/65515165/109925562-eb9c7900-

[2021-03-05 21:54] #163 closed

[2021-03-11 09:43] jobsfan commented on #166
hello there, have you finished to convert it into PHP?

according to @pacMakaveli 's postman method, I do can get the accesstoken and refreshtoken. However the refreshtoken can not be used in @Tustin 's php lib.

![1111](https://user-images.githubusercontent.com/3395025/110767281-0c1c9280-8291-11eb-8ac1-b2cc4007b3a6.png)

I guess the refreshtoken must match the related client-id stuff. It can not

[2021-03-13 00:11] montoyadamien commented on #167
Hi,

The technique of @pacMakaveli is working but I want to notice that in order to do not have the error code "invalid_grant", the PSN account must be filled, I mean that you must get to https://www.playstation.com/, log in, then enter your city and name in the popup. In fact, if you do not have completed this part of your profile, it will not work and you will get "invalid_grant". Thanks for you

[2021-03-13 00:29] montoyadamien opened #170 "Doc not up to date"
Hello,

First of all many thanks for your work to provide this API. I just wanted to notice that the doc is not up to date with the last release(s?). In fact, as you can see for the user part [here](https://tustin.dev/psn-php/getting_user.html), the user() method does not exist anymore in the Client object. It is possible for you to update the doc ? I know that we can still use the code without do

[2021-03-13 17:09] Bornhall commented on #169
Did anyone get anywhere with this? I've been writing my own PSN sort-of-api in PHP, and for what I use it for it works, with the exception of adding anyone to an existing thread. Basically, I get 429 response code from not only my own PSN api, but also from Chrome, Safari and Firefox logged in on my.playstation.com – just returns error code 2122251: Rate limit exceeded in all instances. Curious if

[2021-03-15 08:54] that1estonian commented on #166
Any updates on this?

[2021-03-15 10:41] pacMakaveli commented on #166
My app still works fine with the API. If I had to guess, I think @jobsfan is running my method against the old version of the API in this repo.
Make sure you're running against the master branch because the JWT token you get from the new authentication endpoint doesn't work with the old API.

[2021-03-15 11:31] that1estonian commented on #166
Yea... I'm not very good at this, so I'm waiting for an update 😄

[2021-03-15 14:33] isFakeAccount commented on #169
I tried to do that but it is quite difficult. Even on a rooted device. The App would detect that the traffic is being redirected through the middleman and just stop working altogether.

I used the same methods on the XBOX app and I was able to sniff the traffic relatively easily.

[2021-03-15 14:42] Bornhall commented on #169
Ok, that's a bummer, but many thanks for the input Vlad, appreciate the feedback!

[2021-03-15 15:03] Tustin commented on #166
Sorry, master branch wasn't quite ready yet so there's a ton of breaking changes that will require you to change some of your code a bit. I wasn't expecting Sony to kill the old API so quickly so I haven't really been focusing on finishing the new API code.

[2021-03-15 15:08] Tustin commented on #170
You are correct. The latest (actual) release is still the old version of the API. I've been rewriting it on the master branch for the last few months now to work with Sony's new API. I still need to update the documentation for it but I'm trying to get it finished before I do that.

[2021-03-15 15:10] Tustin commented on #169
Yeah, this endpoint is the old API which as far as I've seen has been completely disabled. I'm able to sniff traffic on iOS and I'm in the process of updating the library to use the new version of their API (along with a bunch of other changes).

[2021-03-15 15:12] Tustin commented on #166
I've updated the README to show a notice about the current state of the library. I will be working on this during the week to try to get all the bugs ironed out so we can have a working version again 😄

[2021-03-15 15:51] that1estonian commented on #166
@Tustin thank you :)

[2021-03-15 19:20] Bornhall commented on #169
Here's my "quick and dirty" PSN class: [kvickpsn.zip](https://github.com/Tustin/psn-php/files/6143858/kvickpsn.zip)

Not sure if this is of any interest to anyone, but this is my simple "cobbled-together" class for the basic functionality that I need (checking threads basically, replying to messages when needed). Seems to work for the moment at least, dunno what "version" of the API it uses (says

[2021-03-15 22:01] isFakeAccount commented on #169
@Tustin how tf. Maybe I know what method you used?

[2021-03-15 22:03] Tustin commented on #169
SSL Killswitch 2 works fine. You'll need to be jailbroken to use it. I'm on iOS13 so I'm not sure if it will still work on the iOS14+ jailbreaks.

[2021-03-15 22:08] isFakeAccount commented on #169
I installed this xposed frame called just trust me. But my Safety Net started failing. And the psn wouldn't not work. I was able to sniff xbox traffic though.

[2021-03-16 03:29] #147 closed

[2021-03-16 23:25] #144 closed

[2021-03-17 16:22] montoyadamien commented on #170
Okey, many thanks for your work !

[2021-03-17 16:22] #170 closed

[2021-03-21 19:55] JardaPazdy opened #171 "Get user profile - endpoint stop working"
Hello,
do someone know new api endpoint to read users profile? I was using https://m.np.playstation.net/api/userProfile/v1/internal/users/'.$account_id.'/profiles but it now returns

{"error":{"referenceId":"8e74da77-8a88-11eb-b0f0-a7c76d92c78c","code":2281604,"message":"Not Found"}}{"error":{"referenceId":"8e74da77-8a88-11eb-b0f0-a7c76d92c78c","code":2281604,"message":"Not Found"}}

even through

[2021-03-22 22:04] dapsych0 commented on #171
https://m.np.playstation.net/api/userProfile/v1/internal/users/[ID]/profiles works fine for me.

[2021-03-25 02:18] pradella commented on #166
Can you please send an updated link for this Postman Workspace? Struggling to learn the new API (just found this repo).
Appreciate your help

[2021-03-25 04:05] pradella opened #172 "Get playtime"
Hey guys,

Anyone knows how to fetch playtime from the new api?

Just found that some services are already using, check this out:

https://forums.exophase.com/threads/psn-playtime-tracking-now-supported.48075/
https://ps-timetracker.com/

And there's also an app that does the same:
https://play.google.com/store/apps/details?id=ar.com.indiesoftware.ps3trophies.alpha&hl=en&gl=US

[2021-03-25 10:19] dapsych0 commented on #172
You can get playtime from this endpoint:
https://m.np.playstation.net/api/gamelist/v2/users/[ID]/titles

You can then use the titleId to find the npwr and link playtime that way.

[2021-03-25 10:34] Ragowit commented on #172
https://github.com/Tustin/psn-php/blob/c7c75f105a288619b692fd907131b847ecddf7a5/src/Model/GameTitle.php#L43-L52

[2021-03-25 14:09] pradella commented on #172
Thanks guys, everything worked

[2021-03-25 14:09] #172 closed

[2021-03-28 08:28] isFakeAccount commented on #171
It is working for me. Maybe you are trying to search a username that doesn't exists.

https://github.com/isFakeAccount/psnawp/blob/master/psnawp_api/user.py

[2021-03-29 07:39] guicogo commented on #171
I encountered the same problem. The issue is that in the 2.0 version you enter the Online ID and in the 3.0 you enter the Account ID. To find out what is the Account ID you need to user the following function:
Client->users()->search("OnlineID")

Online ID is essentially your PSN username. Hope this helps.

[2021-03-29 13:33] JardaPazdy commented on #171
Hello. I found, that there is difference between US PS account and Europian (czech). For example reading game details works only for US account (maybe fixed now, but i dont know) and finding users works for czech account. So its work for me now, but sometimes is realy hard to find where is problem.

[2021-03-30 22:02] Reuns commented on #166
I also have this issue since this afternoon.
But I don't know how to code ... actually, just a bit of PHP so I don't understand any of your solution.
Let's hope the new version will be available soon :/

[2021-03-31 14:16] stipey commented on #169
@Bornhall Hey. Thanks for providing the script. As my current refresh token expired today, I ran your script to create a new one, but using it with this API causes a Invalid refresh token error. Any idea what I might be doing wrong? I'm just running it with a newly created npsso and grabbing the refresh_token from the json.

[2021-03-31 17:20] Bornhall commented on #169
@stipey If it helps anyone, you're welcome! I'm not sure that the refresh token you get from my script can be used with Tustin's code that uses other api endpoints, if that's what you are trying to do?

I did just now perform a refresh on my own here just to check, and the new refresh token worked for my code. I did the following steps:

1. Logged out and in again to the PSN account I want to use

[2021-04-04 15:29] rbaronescu opened #173 "Not able to get `aboutMe` of users"
Hello,

I am not able to get `aboutMe` of users, using endpoint:
`https://m.np.playstation.net/api/userProfile/v1/internal/users/{accountId}/profiles`,
the result will look something like:
`{'onlineId': 'someUserId', 'aboutMe': '', 'avatars': [{'size': 's', 'url': 'http://static-resource.np.community.playstation.net/avatar_s/WWS_E/E0030_s.png'}, {'size': 'xl', 'url': 'http://static-resource.np.com

[2021-04-05 12:49] that1estonian commented on #166
I'm trying to follow this, but getting "Mandatory parameter 'grant_type' is missing"
[code]

[2021-04-06 14:54] pacMakaveli commented on #166
You'd get that error if your headers are not passed correctly.

[code]

[2021-04-06 15:44] that1estonian commented on #166
@pacMakaveli same error :roll_eyes:

[2021-04-06 16:14] that1estonian commented on #166
@pacMakaveli sorry for spamming u :laughing:

anyways, your XMLHttpRequest example worked, so i'm doing something wrong with axios or it just won't work for this

[2021-04-06 18:59] that1estonian commented on #166
ok, so i got it to work with got. just dropping it here, incase anyone curios

[code]

[2021-04-17 10:57] that1estonian commented on #166
@pacMakaveli hey, i saw u took down your psn repo. do u still have the api endpoints somewhere? :roll_eyes:

[2021-04-17 11:06] pacMakaveli commented on #166
I sure do! I think pretty much everything is still on postman, but I'll share them here later as well.

Sorry, I had to make it private for personal reasons. I hope I can make them public again soon.

[2021-04-22 05:00] that1estonian commented on #166
![waiting](https://media.giphy.com/media/QBd2kLB5qDmysEXre9/giphy.gif)

[2021-04-24 01:33] #164 closed

[2021-04-24 01:33] #165 closed

[2021-05-03 21:49] quangtn commented on #169
Got similar Error 42 with endpoint https://us-gmsg.np.community.playstation.net/groupMessaging/v1 which is the same as PSN site. I thought I accidentally ran multiple loops and got my account blocked but it seems to happen with new PSN account I just create for testing as well. I had to use iOS PSN app to create thread/group with the player manually before sending message work on PSN website. Hope

[2021-05-12 11:53] #168 closed

[2021-05-25 02:26] 17-12-20-ll opened #174 "奖杯与游戏如何关联？"
Game_id与np_id 看似没有任何关系 也一直没有找到关系，无从下手，请求援助

[2021-05-25 02:33] 17-12-20-ll opened #175 "The relationship between trophies and games"
Ask for help

I have been looking for the relationship between the trophy and the game to carry out the correlation, but I have never found the relationship

[2021-05-25 03:26] 17-12-20-ll commented on #172
@dapsych0 你好，请问如何使用titleID 获取到npwr 这个问题困惑了我很久

[2021-05-25 03:29] 17-12-20-ll commented on #172
你好，请问如何使用titleID获取到npwr这个问题困惑了我很久

[2021-06-02 15:07] #167 closed

[2021-06-03 08:38] TosMatrix3 commented on #173
Sometime i got an empty "AboutMe", sometime AboutMe is correctly send ... i don't understand why

[2021-06-08 16:23] natrix5369 commented on #169
Hi!
has anyone sniff to traffic using xbox, android, ios?  have any ideas how to add users to messageThread?  The site gives error 429 :(

[2021-06-09 21:57] #104 closed

[2021-06-09 21:57] #171 closed

[2021-06-23 22:41] isFakeAccount commented on #169
@Bornhall  I used to get the thread Id with the endpoint
[code]
However, recently it stopped working as well and gives me Error 429 with the following message

What end point do you use to get the threads that the logged-in user has joined?

[2021-06-24 10:27] Bornhall commented on #169
Yeah, I'm experiencing the same thing myself.

Just testing around a bit last night, but didn't get anywhere really. Don't know if @Tustin has anything to contribute with, but I'll tag him anyway. I managed to lift the "authorization: Bearar <refresh token>" from Chrome (logged in to my.playstation.com) and got it working until that token expired. But that was just temporary.

I haven't got the ti

[2021-06-29 12:08] #166 closed

[2021-07-05 10:43] Reuns opened #176 "[V3] Where to start with master-branch ?"
Hello.
I was using V2.1.3 before it stopped.
Now I've downloaded the master-branch but I don't know where to start.

I'm a bit lost (completely actually) and without any doc I can't do anything :(
Can someone provide me some help please ?

I'm stuck at the very beginning.
Thanks.

[2021-07-08 02:52] isFakeAccount commented on #176
You can use my version of PSN API https://github.com/isFakeAccount/psnawp

The authentication work as of now. There is an issue with messaging endpoints. But if you are not using them, you should be fine.

[2021-07-08 06:59] Reuns commented on #176
Thank you for your help but I need a php version.

[2021-07-08 19:40] Ragowit commented on #176
[code]

[2021-07-09 13:05] Reuns commented on #176
Ok, just that simple (i feel ashamed). Thank you @Ragowit

How does the refreshToken works on this version ?
I tried to save
`$client->getRefreshToken()->getToken ()`
And use it like
`$client->loginWithRefreshToken ($mypreviouslysavedtoken)`
but it doesn't seems to work ... Fatal Error

[2021-07-09 18:06] Ragowit commented on #176
The refreshToken doesn't work at all afaik. Don't think it's a thing anymore with the new API. Remember that the master-branch is under development and some stuff in there might just be legacy code that is meant to be removed at some point, and I believe refreshToken is one of those things.

I just use loginWithNpsso all the time within my code. It usually lasts for about two months before I need

[2021-07-09 23:18] Reuns commented on #176
Ok, good to know.
I guess I'll have to keep an eye on this npsso ;)

I'll try to find my way with the code. Thanks again, I hope I won't have to bother you again.

See ya. ;)

[2021-07-15 20:48] Tustin commented on #176
@Reuns Sorry about this. The new API is quite a bit of a different beast and I've yet to sit down and write documentation for it. If there's anything in particular you need help porting over, please let me know and I can try to help 😄

[2021-07-15 20:58] Tustin commented on #176
@Reuns I just fixed the loginWithRefreshToken method in 450ec04b42b4859d2042c3eb7f9ce8b511eafa5c. Please try it again 👍

[code]

[2021-07-19 12:08] jeroenbourgois commented on #176
@Tustin did you have any luck finding the old 'gamelist' endpoint yet? I have been searching and trying a lot of endpoints, also trying to reverse-engineer the Android app, but no luck. Trophies are accessible, but game info I have no idea.

[2021-07-22 09:18] quangtn commented on #176
i've been using kvickpsn, it worked great so far until about a month ago. Endpoints for 'threads' stop working and always return rate limit error. It'd be great if anyone share some insight on that.

[2021-07-24 19:29] isFakeAccount commented on #176
@quangtn PSN stopped those endpoints. We need to find the new endpoints from psn app.

[2021-07-31 11:24] #174 closed

[2021-07-31 11:24] #175 closed

[2021-08-02 05:37] SaoBiz commented on #173
I am not sure if there is much that we can do on our side since from the looks of the app, they don't even display the "About Me" in a users profile. If they don't display it, I guess there is no reason to send it? I am guessing that it might be an artifact from the old API?

Does anyone have any work arounds for this? Kinda need this feature for a project I am working on.

[2021-08-02 13:43] stipey commented on #173
Likewise. Was using the field for something, and would prefer not to change that :)

[2021-08-02 20:47] Ragowit commented on #173
I have not encountered any problem in fetching the aboutMe data.

[2021-08-02 21:24] Tustin commented on #173
Yeah I honestly can't remember if they have about me in the new API. However, if someone with this issue could post which account they're trying to fetch, I can take a look at it

[2021-08-03 01:38] SaoBiz commented on #173
Okay. I figured it out.

Nothing to do with the API or how it works. It has to do with the user that you are using to get the `npsso` cookie from initially.

I created a new PSN account (so I didn't have to use my own) and it looks like the new account doesn't have permission to see the `aboutMe` of profiles.

Testing this with my real PSN account, I can see the `aboutMe` no problem.

So I am not

[2021-08-03 17:55] Tustin commented on #173
Did you verify your email on your new account? I believe I remember someone having a permissions issues before and I think that was the fix for it.

[2021-08-26 09:34] MedusaLuchs85 opened #177 "Get trophy list for every game via API call"
Hello all,

since the API has been revised by Sony, I need some help to get special game information. For PS4 games I can still use this API call to get the npCommunicationid which is needed for e.g. the trophy list of the game:

CUSA02387_00 --> Battlefield 1

**https://us-tpy.np.community.playstation.net/trophy/v1/apps/trophyTitles?fields=@default&npLanguage=de&npTitleIds=CUSA02387_00**

**A PS5